﻿<div class="space-md"></div>
<header class="col-md-4 col-md-offset-4 mb">
    <div class="row">
        <div class="col-md-6"></div>
    </div>
</header>
<div class="col-md-2 col-md-offset-5 mt">
    <div class="row">
        <h3>Login</h3>
        <form name="loginForm" novalidate>
            <div class="form-group" ng-class="{'has-error' : loginForm.userName.$invalid }">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" 
                           class="form-control" 
                           name="userName"
                           placeholder="Username" 
                           ng-model="vm.userName" required/>
                </div>
                <p ng-show="loginForm.userName.$invalid" class="help-block">Please enter your username.</p>
            </div>
            <div class="form-group" ng-class="{'has-error' : loginForm.userName.$invalid }">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" 
                           class="form-control" 
                           name="password"
                           placeholder="Password" 
                           ng-model="vm.password" required/>
                </div>
                <p ng-show="loginForm.password.$invalid" class="help-block">Please enter your password.</p>
            </div>
            <div class="space-xs"></div>
            <div class="form-group">
                <a ng-click="vm.gotoCompanies()" href="https://finance.caytree.com" target="blank" class="btn btn-link">Go to CF Login</a>
                <button class="btn btn-success pull-right" ng-click="vm.login(loginForm.$valid)">Log in</button>
            </div>
        </form>
        
        <div style="padding-top:20px">
            <alert ng-if="alerts.length" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                <div ng-bind-html="MessageBox"></div>
            </alert>
        </div>
    </div>
</div>
