﻿<div class="row header brand brand-primary" data-ng-style="{'background-color': themeSettings.brandPrimary.color, color:themeSettings.brandPrimary.textColor}" >
    <section class="container padding-top-md">
        <div class="row padding-bottom-md">
            <div class="col-sm-6 header-brand">
                <div class="brand-image">
                    <div id="imgContainerProfile"></div>
                    <!--<img class="" src="../../images/img-default.png" />-->
                </div>
                <div class="brand-name">
                    <h3 class="strong">{{vm.organization.name}}</h3>
                </div>
            </div>
            <div class="col-sm-6 text-right header-settings">
                <ul class="list-inline">
                    <li class="margin-left-md"><a href="" data-ng-click="vm.loadCompanyProfile()" class="brand brand-primary-text" data-ng-style="{color:themeSettings.brandPrimary.textColor}">Profile</a></li>
                    <li class="margin-left-md"><a href="" data-ng-click="vm.loadUserSettings()" class="brand brand-primary-text" data-ng-style="{ color:themeSettings.brandPrimary.textColor}">User Settings</a></li>
                    <li class="margin-left-md"><a href="" data-ng-click="vm.logout()" class="brand brand-primary-text" data-ng-style="{ color:themeSettings.brandPrimary.textColor}">&nbsp;&nbsp;&nbsp;<i class="fa fa-power-off"></i>&nbsp;&nbsp;&nbsp;</a></li>
                </ul>
            </div>
        </div>

        <div class="row margin-top-md">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li ui-sref-active="active strong" role="presentation"><a ui-sref="private.home" role="tab"><i class="fa fa-home"></i></a></li>
                    <li ui-sref-active="active strong" role="presentation"><a ui-sref="private.products.add" role="tab">Products</a></li>
                    <li ui-sref-active="active strong" role="presentation"><a ui-sref="private.applications.view({status:'All'})" role="tab">Applications</a></li>
                    <li ui-sref-active="active strong" role="presentation"><a ui-sref="private.loans.view({status:'All'})" role="tab">Loans</a></li>
                    <li ui-sref-active="active strong" role="presentation"><a ui-sref="private.wallet.main.transactions" role="tab">Wallet</a></li>
                    
                </ul>
            </div>
        </div>
    </section>
</div>

<div class="row height-xl content">
    <section class="container tab-content">
        <div ui-view></div>
    </section>
</div>
