﻿<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <ul class="list-inline pull-right no-pad">
                <li><a href="" class="btn btn-success btn-sm" data-ng-click="vm.editProfile()">Edit profile</a></li>
                <li><button type="button" class="close" data-ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button></li>
            </ul>
            <h3 class="modal-title">Profile</h3>
        </div>
    </div>
    <div class="row modal-body">
        <div block-ui="organizationBlockUI">
            <div class="row">
                <div class="col-sm-3">
                    <div id="imgContainerProfile"></div>
                   
                </div>
                <div class="col-sm-9">
                    <h3>{{vm.organization.name}}</h3>
                    <h5>{{vm.organization.city}}, {{vm.organization.country}}</h5>

                    <h4 class="padding-bottom-sm padding-top-lg">Organization Contacts</h4>
                    <ul class="list-unstyled">
                        <li><strong>Phone</strong>: {{vm.organization.phoneNumber}}</li>
                        <li><strong>Email</strong>: {{vm.organization.email}}</li>
                        <li><strong>Web</strong>: {{vm.organization.website}}</li>
                        <li><strong>Postal Address</strong>: {{vm.organization.postalAddress}}, {{vm.organization.city}}, {{vm.organization.country}}</li>
                    </ul>


                    <h4 class="padding-bottom-sm padding-top-lg">Contact Person</h4>
                    <ul class="list-unstyled">
                        <li><strong>{{vm.organization.contactPersonName}}</strong></li>
                        <li><strong>Phone</strong>: {{vm.organization.contactPersonPhone}}</li>
                        <li><strong>Email</strong>: {{vm.organization.contactPersonEmail}}</li>
                    </ul>

                    <h4 class="padding-bottom-sm padding-top-lg">Legal</h4>
                    <ul class="list-unstyled">
                        <li><strong>Privacy Policy</strong>: {{vm.organization.privacyPolicyLink}}</li>
                        <li><strong>Terms</strong>: {{vm.organization.termsLink}}</li>
                    </ul>

                    <h4 class="padding-bottom-sm padding-top-lg">Brand Theme</h4>
                    <h4>
                        <button class="btn brand-primary cursor-init" data-ng-style="{'background-color': themeSettings.brandPrimary.color, color:themeSettings.brandPrimary.textColor}">Primary color & text</button>                        
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-default pull-right" data-ng-click="vm.cancel()">Close</button>
</div>
