﻿<div class="row onboarding-bg"></div>

<div class="row header padding-top-md padding-bottom-md margin-bottom-xl">
    <section class="container">
        <div class="col-sm-6 col-sm-offset-4">
            <a ui-sref="public.landing" class="pull-left h3 no-pad link-homepage">Fenera</a>
        </div>
    </section>
</div>

<div class="row height-full main-content">
    <section class="container margin-top-xl">
        <div class="col-sm-4 col-sm-offset-4">
            <h3>Login</h3>
            <form name="loginForm" ng-submit="vm.login(loginForm.$valid)" role="form" class="margin-top-md" novalidate="">
                <div block-ui="loginFormBlockUI">
                    <div class="form-group"
                         ng-class="{ 'has-error': (loginForm.username.$invalid) && (loginForm.username.$touched || submitted) }">
                        <label class="">Username</label>
                        <input name="username" type="text" class="form-control" placeholder="Username" data-ng-model="vm.model.username" required />
                        <div ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter username</div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': (loginForm.password.$invalid) && (loginForm.password.$touched || submitted) }">
                        <label class="">Password</label>
                        <input name="password" type="password" class="form-control" placeholder="Password" data-ng-model="vm.model.password" required />
                        <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter password</div>
                        </div>
                    </div>
                    <input type="submit" data-ng-click="submitted=true" class="btn btn-lg btn-primary strong btn-log-in" value="Log in" />
                    <!--<a href="app/home.html" class="btn btn-lg btn-primary strong btn-log-in">Log in</a>-->
                </div>
            </form>

            <div class="padding-top-xl">
                <h4 class="padding-bottom-md">or</h4>
                <a ui-sref="public.requestInvite" class="btn btn-success btn-request-invite-header">Request invitation</a>
            </div>
        </div>
    </section>
</div>


