﻿<div class="row onboarding-bg"></div>

<div class="row header padding-top-md padding-bottom-md margin-bottom-xl">
    <section class="container">
        <div class="col-sm-6 col-sm-offset-4">
            <a ui-sref="public.landing" class="pull-left h3 no-pad link-homepage">Fenera</a>
        </div>
    </section>
</div>

<div class="row height-full main">
    <section class="container margin-top-md">
        <div class="col-sm-4 col-sm-offset-4">
            <h3>Request Invite</h3>
            <form name="invitationForm" ng-submit="vm.requestInvitation(invitationForm.$valid)" role="form" class="margin-top-md" novalidate>
                <div block-ui="invitationFormBlockUI">
                    <div class="form-group"
                         ng-class="{ 'has-error': (invitationForm.organizationName.$invalid) && (invitationForm.organizationName.$touched || submitted) }">
                        <label class="">Organization Name</label>
                        <input name="organizationName" data-ng-model="vm.model.organizationName" type="text" class="form-control" placeholder="Name" required />
                        <div ng-messages="invitationForm.organizationName.$error" ng-show="invitationForm.organizationName.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Organization name is required</div>
                        </div>
                    </div>

                    <div class="row form-group margin-top-xl">
                        <div class="col-sm-6"
                             ng-class="{ 'has-error': (invitationForm.firstName.$invalid) && (invitationForm.firstName.$touched || submitted) }">
                            <label class="">First Name</label>
                            <input name="firstName" data-ng-model="vm.model.firstName" type="text" class="form-control" placeholder="First Name" required />
                            <div ng-messages="invitationForm.firstName.$error" ng-show="invitationForm.firstName.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">First name is required</div>
                            </div>
                        </div>
                        <div class="col-sm-6"
                             ng-class="{ 'has-error': (invitationForm.lastName.$invalid) && (invitationForm.lastName.$touched || submitted) }">
                            <label class="">Last Name</label>
                            <input name="lastName" type="text" data-ng-model="vm.model.lastName" class="form-control" placeholder="Last Name" required/>
                            <div ng-messages="invitationForm.lastName.$error" ng-show="invitationForm.lastName.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Last name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': (invitationForm.email.$invalid) && (invitationForm.email.$touched || submitted) }">
                        <label class="">Email</label>
                        <input name="email" type="email" data-ng-model="vm.model.email" class="form-control" placeholder="Email" required />
                        <div ng-messages="invitationForm.email.$error" ng-show="invitationForm.email.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Email is required</div>
                            <div ng-message="email">Not a valid email</div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': (invitationForm.phoneNumber.$invalid) && (invitationForm.phoneNumber.$touched || submitted) }">
                        <label class="">Phone Number</label>
                        <input name="phoneNumber" type="text" data-ng-model="vm.model.phoneNumber" class="form-control" placeholder="Phone number" required />
                        <div ng-messages="invitationForm.phoneNumber.$error" ng-show="invitationForm.phoneNumber.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Phone number is required</div>
                        </div>
                    </div>
                    <!--<a href="request-invite-thankyou.html" class="btn btn-lg btn-success strong btn-request-invite">Request Invite</a>-->
                    <input type="submit" data-ng-click="submitted=true" class="btn btn-lg btn-success strong btn-request-invite" value="Request Invite" />
                </div>
            </form>

            <div class="padding-top-xl">
                <h4 class="padding-bottom-md">or</h4>
                <a ui-sref="public.login" class="btn btn-default btn-log-in">Log in</a>
            </div>
        </div>
    </section>
</div>
