﻿<div class="row header padding-top-md padding-bottom-md margin-bottom-xl">
    <section class="container">
        <div class="col-sm-6 col-sm-offset-4">
            <a ui-sref="public.landing" class="pull-left h3 no-pad link-homepage">Fenera</a>
        </div>
    </section>
</div>

<div class="row height-full main">
    <section class="container margin-top-xl">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <i class="fa fa-check-circle text-success fa-3x"></i>
            <h2 class="text-success margin-top-md padding-bottom-sm">Thank you</h2>
            <p>We will contact you to get more details so that we can sign you up as soon as possible. This won't take long.</p>
            <div class="padding-top-xl">
                <a ui-sref="public.login" class="btn btn-default btn-log-in">Log in</a>
            </div>
        </div>
    </section>
</div>