﻿<div class="row onboarding-bg"></div>

<div class="row header padding-top-md padding-bottom-md margin-bottom-xl">
    <section class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <a ui-sref="public.landing" class="pull-left h3 no-pad link-homepage">Fenera</a>
        </div>
    </section>
</div>

<div class="row main-content margin-bottom-lg">
    <section class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h3>Sign up for a Caytree Account</h3>
            <p><em>All fields are required</em></p>

            <form name="signUpForm" ng-submit="vm.signUp(signUpForm.$valid)" role="form" class="margin-top-lg" novalidate>
                <div block-ui="signUpFormBlockUI">
                    <div class="row form-group">
                        <div class="col-md-12"
                             ng-class="{ 'has-error': (signUpForm.organizationName.$invalid) && (signUpForm.organizationName.$touched || submitted) }">
                            <label class="">Organization Name</label>
                            <input name="organizationName" type="text" data-ng-model="vm.model.organizationName" class="form-control" placeholder="Organization Name" required />
                            <div ng-messages="signUpForm.organizationName.$error" ng-show="signUpForm.organizationName.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Organization name is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6"
                             ng-class="{ 'has-error': (signUpForm.firstName.$invalid) && (signUpForm.firstName.$touched || submitted) }">
                            <label class="">First Name</label>
                            <input name="firstName" type="text" data-ng-model="vm.model.firstName" class="form-control" placeholder="First Name" required />
                            <div ng-messages="signUpForm.firstName.$error" ng-show="signUpForm.firstName.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">First name is required</div>
                            </div>
                        </div>
                        <div class="col-md-6"
                             ng-class="{ 'has-error': (signUpForm.lastName.$invalid) && (signUpForm.lastName.$touched || submitted) }">
                            <label class="">Last Name</label>
                            <input name="lastName" type="text" data-ng-model="vm.model.lastName" class="form-control" placeholder="Last Name" required />
                            <div ng-messages="signUpForm.lastName.$error" ng-show="signUpForm.lastName.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Last name is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6"
                             ng-class="{ 'has-error': (signUpForm.email.$invalid) && (signUpForm.email.$touched || submitted) }">
                            <label class="">Email</label>
                            <input name="email" type="email" data-ng-model="vm.model.email" class="form-control" placeholder="Email" required />
                            <div ng-messages="signUpForm.email.$error" ng-show="signUpForm.email.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Email is required</div>
                                <div ng-message="email">Not a valid email</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="">Phone number</label>
                            <div class="input-group">
                                <span class="input-group-addon">+254</span>
                                <input type="text" data-ng-model="vm.model.phoneNumber" class="form-control" placeholder="Phone number" />
                            </div>
                        </div>
                    </div>

                    <div class="row form-group margin-top-xl margin-bottom-xl">
                        <div class="col-md-6"
                             ng-class="{ 'has-error': (signUpForm.username.$invalid) && (signUpForm.username.$touched || submitted) }">
                            <label class="">Username</label>
                            <input type="text" name="username" data-ng-model="vm.model.username" class="form-control" placeholder="Username" required />
                            <div ng-messages="signUpForm.username.$error" ng-show="signUpForm.username.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Username is required</div>
                            </div>
                        </div>
                        <div class="col-md-6"
                             ng-class="{ 'has-error': (signUpForm.password.$invalid) && (signUpForm.password.$touched || submitted) }">
                            <label class="">Password</label>
                            <input type="password" name="password" data-ng-model="vm.model.password" class="form-control" placeholder="Password" required />
                            <div ng-messages="signUpForm.password.$error" ng-show="signUpForm.password.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Password is required</div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" data-ng-click="submitted=true" class="btn btn-lg btn-primary strong btn-sign-up" value="Sign Up" />
                    <!--<a href="onboarding-01.html" class="btn btn-lg btn-primary strong btn-sign-up">Sign up</a>-->
                </div>
            </form>

            <div class="padding-top-xl">
                <h4 class="padding-bottom-md">or</h4>
                <a ui-sref="public.requestInvite" class="btn btn-success btn-request-invite">Request invite</a>
                <a ui-sref="public.login" class="btn btn-default btn-log-in">Log in</a>
            </div>
        </div>
    </section>
</div>



