﻿<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <button type="button" class="close" data-ng-click="vm.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">User Settings</h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row padding-bottom-md margin-bottom-md border-bottom-lighter">
            <a href="#" class="h4" data-toggle="collapse" data-target="#account-settings">Account Settings <span class="caret"></span></a>
            <div id="account-settings" class="collapse">
                <form id="accountSettingsForm" name="accountSettingsForm" role="form"  class="" novalidate>
                    <div block-ui="accountSettingsBlockUi">
                        <div class="form-group padding-top-md"
                             ng-class="{ 'has-error': (accountSettingsForm.firstName.$invalid) && (accountSettingsForm.firstName.$touched || submitted) }">
                            <label>First Name</label>
                            <input name="firstName" data-ng-model="vm.model.firstName" class="form-control" type="text" required />
                            <div ng-messages="accountSettingsForm.firstName.$error" ng-show="accountSettingsForm.firstName.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Enter first name</div>
                            </div>
                        </div>
                        <div class="form-group padding-top-md"
                             ng-class="{ 'has-error': (accountSettingsForm.lastName.$invalid) && (accountSettingsForm.lastName.$touched || submitted) }">
                            <label>Last Name</label>
                            <input name="lastName" data-ng-model="vm.model.lastName" class="form-control" type="text" required />
                            <div ng-messages="accountSettingsForm.lastName.$error" ng-show="accountSettingsForm.lastName.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Enter last name</div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': (accountSettingsForm.email.$invalid) && (accountSettingsForm.email.$touched || submitted) }">
                            <label>Email</label>
                            <input name="email" data-ng-model="vm.model.email" class="form-control" type="email" required />
                            <div ng-messages="accountSettingsForm.email.$error" ng-show="accountSettingsForm.email.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Enter email</div>
                                <div ng-message="email">Enter valid email</div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': (accountSettingsForm.phoneNumber.$invalid) && (accountSettingsForm.phoneNumber.$touched || submitted) }">
                            <label>Phone Number</label>
                            <input name="phoneNumber" data-ng-model="vm.model.phoneNumber" class="form-control" type="text" ui-mask="9999999" ui-mask-placeholder required />
                            <div ng-messages="accountSettingsForm.phoneNumber.$error" ng-show="accountSettingsForm.phoneNumber.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Enter phone number</div>
                            </div>
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error': (accountSettingsForm.password.$invalid) && (accountSettingsForm.password.$touched || submitted ||vm.saveAccountSettingsClicked) }">
                            <label>Password</label>
                            <input name="password" data-ng-model="vm.model.password" class="form-control" type="password" required />
                            <div ng-messages="accountSettingsForm.password.$error"  ng-show="(accountSettingsForm.password.$invalid) && (accountSettingsForm.password.$touched || submitted || vm.saveAccountSettingsClicked)"  style="color:red" role="alert">
                                <div ng-message="required">Enter Password</div>
                            </div>
                        </div>

                        <div class="form-group text-right">
                            <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#account-settings">Close</button>
                            <input type="button" data-ng-click="vm.saveAccountSettingsClicked=true; vm.saveAccountSettings(accountSettingsForm.$valid)" class="btn btn-success btn-sm" value="Update account details" />
                            <!--<div>{{vm.saveAccountSettingsClicked}} {{accountSettingsForm.password.$invalid}}</div>-->

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row padding-bottom-md margin-bottom-md border-bottom-lighter">
            <a href="#" class="h4 padding-bottom-sm" data-toggle="collapse" data-target="#login-settings">Login Settings <span class="caret"></span> </a>
            <div id="login-settings" class="collapse">
                <form id="loginSettingsForm" name="loginSettingsForm" role="form"  novalidate>
                    <div block-ui="loginSettingsBlockUi">
                        <!--<div class="form-group"
                             ng-class="{ 'has-error': (loginSettingsForm.userName.$invalid) && (loginSettingsForm.userName.$touched || submitted) }">
                            <label>Username</label>
                            <input name="userName" data-ng-disabled="true" data-ng-model="vm.model.userName" class="form-control" type="text" required />
                            <div ng-messages="loginSettingsForm.userName.$error" ng-show="loginSettingsForm.userName.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Enter username</div>
                            </div>
                        </div>-->

                        <div class="form-group padding-top-md"  ng-class="{ 'has-error': (loginSettingsForm.oldPassword.$invalid) && (loginSettingsForm.oldPassword.$touched || submitted) }">
                            <label>Old Password</label>
                            <input name="oldPassword" data-ng-model="vm.model.oldPassword" class="form-control" type="password" />
                            <div ng-messages="loginSettingsForm.oldPassword.$error" ng-show="loginSettingsForm.oldPassword.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Enter Old Password</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': (loginSettingsForm.newPassword.$invalid) && (loginSettingsForm.newPassword.$touched || submitted) }">
                            <label>New Password</label>
                            <input name="newPassword" data-ng-model="vm.model.password" class="form-control" type="password" />
                            <div ng-messages="loginSettingsForm.newPassword.$error" ng-show="loginSettingsForm.newPassword.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Enter New Password</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': (loginSettingsForm.confirmPassword.$invalid) && (loginSettingsForm.confirmPassword.$touched || submitted) }">
                            <label>Reenter Password</label>
                            <input name="confirmPassword" data-ng-model="vm.model.confirmPassword" class="form-control" type="password" />
                            <div ng-messages="loginSettingsForm.confirmPassword.$error" ng-show="loginSettingsForm.confirmPassword.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Enter Confirm Password</div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#login-settings">Close</button>
                            <input type="button" data-ng-click="vm.saveLoginSettings(loginSettingsForm.$valid)" class="btn btn-success btn-sm" value="Update login details" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <button type="button" class="btn btn-default pull-right" data-ng-click="vm.cancel()">Close</button>
</div>