﻿<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <button type="button" class="close" data-ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit Profile</h4>
        </div>
    </div>
    <div class="row modal-body">
        <div class="row">
            <div class="col-sm-3">
                <div block-ui="logoBlockUi">
                    <div id="imgContainerUpsert">
                    </div>
                    <!--<img class="full-width bg-grey-light border-lighter border-radius" src="../../images/img-default.png" />-->
                    <input type="file" class="form-control" style="margin-bottom: 30px" id="file1"/>
                    <button class="margin-top-md btn btn-sm btn-default btn-block" id="btnUpload">Upload</button>
                    <button class="margin-top-md btn btn-sm btn-danger btn-block" id="btnDelete">Delete</button>
                </div>
            </div>
            <div class="col-sm-9">
                <form id="companyDetailsForm" name="companyDetailsForm" ng-submit="vm.saveCompanyDetails(companyDetailsForm.$valid,contactDetailsForm.$valid,legalDetailsForm.$valid)" role="form" class="" novalidate>
                    <div block-ui="companyDetailsBlockUi">
                        <div class="padding-bottom-md margin-bottom-md border-bottom-lighter">
                            <h4 class="padding-bottom-md">Company details</h4>
                            <div class="form-group"
                                 ng-class="{ 'has-error': (companyDetailsForm.name.$invalid) && (companyDetailsForm.name.$touched || submitted) }">
                                <label>Company Name</label>
                                <input name="name" data-ng-model="vm.organization.name" class="form-control input-lg" type="text" required />
                                <div ng-messages="companyDetailsForm.name.$error" ng-show="companyDetailsForm.name.$touched || submitted" style="color:red" role="alert">
                                    <div ng-message="required">Enter organization name</div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6"
                                     ng-class="{ 'has-error': (companyDetailsForm.email.$invalid) && (companyDetailsForm.email.$touched || submitted) }">
                                    <label>Email</label>
                                    <input name="email" data-ng-model="vm.organization.email" class="form-control" type="email" />
                                    <div ng-messages="companyDetailsForm.email.$error" ng-show="companyDetailsForm.email.$touched || submitted" style="color:red" role="alert">
                                        <div ng-message="email">Enter valid email</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Phone</label>
                                    <input name="phone" data-ng-model="vm.organization.phoneNumber" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Postal Address</label>
                                <input name="postalAddress" data-ng-model="vm.organization.postalAddress" class="form-control" type="text" />
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label>City</label>
                                    <input name="city" data-ng-model="vm.organization.city" class="form-control" type="text" />
                                </div>
                                <div class="col-sm-6">
                                    <label>Country</label>
                                    <input name="country" data-ng-model="vm.organization.country" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': (companyDetailsForm.website.$invalid) && (companyDetailsForm.website.$touched || submitted) }">
                                <label>Website</label>
                                <input name="website" data-ng-model="vm.organization.website" class="form-control" type="url" />
                                <div ng-messages="companyDetailsForm.website.$error" ng-show="companyDetailsForm.website.$touched || submitted" style="color:red" role="alert">
                                    <div ng-message="url">Enter valid link (hint: start with http://)</div>
                                </div>
                            </div>
                            <div class="text-right">
                                <input type="submit" data-ng-disabled="vm.isSaving" data-ng-click="submitted=true" class="btn btn-success btn-sm" value="Update company details" />
                            </div>
                        </div>
                    </div>
                </form>
                
                <form id="contactDetailsForm" name="contactDetailsForm" ng-submit="vm.saveContactDetails(companyDetailsForm.$valid,contactDetailsForm.$valid,legalDetailsForm.$valid)" role="form" class="" novalidate>
                    <div block-ui="contactDetailsBlockUi">
                        <div class="padding-bottom-md margin-bottom-md border-bottom-lighter">
                            <h4 class="padding-bottom-md">Contact Details</h4>
                            <div class="form-group">
                                <label>Name</label>
                                <input name="name" data-ng-model="vm.organization.contactPersonName" class="form-control" type="text" />
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6" 
                                     ng-class="{ 'has-error': (contactDetailsForm.email.$invalid) && (contactDetailsForm.email.$touched || submitted) }">
                                    <label>Email</label>
                                    <input name="email" data-ng-model="vm.organization.contactPersonEmail" class="form-control" type="email" />
                                    <div ng-messages="contactDetailsForm.email.$error" ng-show="contactDetailsForm.email.$touched || submitted" style="color:red" role="alert">
                                        <div ng-message="email">Enter valid email</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Phone</label>
                                    <input name="phone" data-ng-model="vm.organization.contactPersonPhone" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="text-right">
                                <input type="submit" data-ng-disabled="vm.isSaving" data-ng-click="submitted=true" class="btn btn-success btn-sm" value="Update contact details" />
                            </div>
                        </div>
                    </div>
                </form>
                
                <form id="legalDetailsForm" name="legalDetailsForm" ng-submit="vm.saveLegalDetails(companyDetailsForm.$valid,contactDetailsForm.$valid,legalDetailsForm.$valid)" role="form" class="" novalidate>
                    <div block-ui="legalDetailsBlockUi">
                        <div class="padding-bottom-md margin-bottom-md border-bottom-lighter">
                            <h4 class="padding-bottom-md">Legal</h4>
                            <div class="form-group">
                                <div class="input-group"
                                     ng-class="{ 'has-error': (legalDetailsBlockUi.privacyPolicyLink.$invalid) && (legalDetailsBlockUi.privacyPolicyLink.$touched || submitted) }">
                                    <span class="input-group-addon">Privacy Policy link</span>
                                    <input name="privacyPolicyLink" data-ng-model="vm.organization.privacyPolicyLink" class="form-control" type="url" />
                                    <div ng-messages="legalDetailsBlockUi.privacyPolicyLink.$error" ng-show="legalDetailsBlockUi.privacyPolicyLink.$touched || submitted" style="color:red" role="alert">
                                        <div ng-message="url">Enter valid link (hint: start with http://)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group"
                                     ng-class="{ 'has-error': (legalDetailsBlockUi.termsLink.$invalid) && (legalDetailsBlockUi.termsLink.$touched || submitted) }">
                                    <span class="input-group-addon">Terms link</span>
                                    <input name="termsLink" data-ng-model="vm.organization.termsLink" class="form-control" type="url" />
                                    <div ng-messages="legalDetailsBlockUi.termsLink.$error" ng-show="legalDetailsBlockUi.termsLink.$touched || submitted" style="color:red" role="alert">
                                        <div ng-message="url">Enter valid link (hint: start with http://)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <input type="submit" data-ng-disabled="vm.isSaving" data-ng-click="submitted=true" class="btn btn-success btn-sm" value="Update legal" />
                            </div>
                        </div>
                    </div>
                </form>
                <form id="brandDetailsForm" name="brandDetailsForm" role="form" class="" novalidate>
                    <div block-ui="brandColorsBlockUi">
                        <div class="padding-bottom-md margin-bottom-md border-bottom-lighter">
                            <h4 class="padding-bottom-md">Brand colors</h4>
                            <!-- TODO: Implement this plugin (https://mjolnic.com/bootstrap-colorpicker/) -->
                            <div class="form-group">
                                <div class="col-sm-4 padding-top-md">
                                    <button class="btn brand-primary brand-selector-button" data-ng-style="{'background-color': vm.organization.brandColorBg, color:vm.organization.brandColorText}">Theme</button>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{ 'has-error': (brandDetailsForm.brandColorBg.$invalid) && (brandDetailsForm.brandColorBg.$touched || vm.saveBrandClicked) }">
                                        <label>Primary color</label>
                                        <input required name="brandColorBg" colorpicker ng-model="vm.organization.brandColorBg" class="form-control" type="text">
                                        <div ng-messages="brandDetailsForm.brandColorBg.$error" ng-show="brandDetailsForm.brandColorBg.$touched || vm.saveBrandClicked" style="color:red" role="alert">
                                            <div ng-message="brandColorBg">Enter Bg Color</div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{ 'has-error': (brandDetailsForm.brandColorText.$invalid) && (brandDetailsForm.brandColorText.$touched || vm.saveBrandClicked) }">
                                        <label>Secondary color</label>
                                        <input required name="brandColorText" colorpicker ng-model="vm.organization.brandColorText" class="form-control" type="text">
                                        <div ng-messages="brandDetailsForm.brandColorText.$error" ng-show="brandDetailsForm.brandColorText.$touched || vm.saveBrandClicked" style="color:red" role="alert">
                                            <div ng-message="brandColorText">Enter Text Color</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <input type="button" data-ng-disabled="vm.isSaving" data-ng-click="vm.saveBrandClicked=true;vm.saveBrandDetails(brandDetailsForm.$valid)" class="btn btn-success btn-sm" value="Update brand colors" />
                            </div>
                        </div>
                    </div>
                </form>
               
            </div>
        </div>
        <button type="button" class="btn btn-default pull-right" data-ng-click="vm.cancel()" data-toggle="modal" data-target="#app-profile-view">Close</button>
    </div>
</div>
