﻿<div role="tabpanel" class="tab-pane fade in active" id="home">
    <div class="row padding-top-md padding-bottom-md">
        <div class="col-sm-12">
            <ul class="list-inline full-width text-right" data-ng-show="false">
                <li class=""><input class="form-control" placeholder="Search" /></li>
                <li class=""><a href="#" class="btn btn-default"><i class="fa fa-calendar"></i> &nbsp; 23 March 2015 - 18 November 2015</a></li>
            </ul>
        </div>
    </div>


    <div class="tb-home">
        <div block-ui="homeBlockUI">
            <div class="tb-home-portfolio">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="">Total Loan Portfolio</h3>
                        <h2>Ksh. {{vm.dashboard.totalLoanPortfolio | number:2}}</h2>
                        <div class="divider"></div>
                        <h4 class="text-danger">{{vm.dashboard.loansAtRiskPercent | number:2}}% of the loan portfolio at risk</h4>

                        <div class="row margin-bottom-sm margin-top-md">
                            <a href="" class="col-sm-5 text-left">
                                <div class="padding-md bg-white border-light border-radius margin-bottom-sm">
                                    <h3 class="">{{vm.dashboard.loansAtRisk}}</h3>
                                    <h5 class=""><strong>loans at risk</strong></h5>
                                </div>
                            </a>
                            <a href="" class="col-sm-7 text-left">
                                <div class="padding-md bg-white border-light border-radius margin-bottom-sm">
                                    <h3 class="">Ksh. {{vm.dashboard.loansAtRiskAmount | number:2}}</h3>
                                    <h5 class="">amount at risk</h5>
                                </div>
                            </a>
                        </div>
                        <a ui-sref="private.loans.view({status:'All'})" class="strong btn btn-primary btn-sm">View loans</a>
                        <a href="#" data-ng-show="false" class="strong btn btn-default btn-sm" data-toggle="modal" data-target="#loan-payment">Add payments</a>
                    </div>
                    <div class="col-sm-8">
                        <div class="panel panel-default margin-0">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>Portfolio perfomance</h2>
                                        <small>in the last 12 months</small>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <div class="btn-group">
                                            <button data-ng-show="false" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Weekly <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#">Weekly</a></li>
                                                <li><a href="#">Monthly</a></li>
                                                <li><a href="#">Yearly</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <h4 id="portfolioLegend" class="pull-right"></h4>
                                        <canvas id="chart-cashflowgraph"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>

                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="padding-bottom-md">Wallet</h3>
                        <div class="panel panel-default panel-body">
                            <h3 class="padding-bottom-sm">Ksh. {{vm.wallet.balance | number:2}}</h3>
                            <h4>Amount available in your wallet</h4>
                        </div>
                        <ul class="list-inline">
                            <li><a ui-sref="private.wallet.main.transactions" class="btn btn-primary btn-sm strong">Go to your wallet</a></li>
                            <li><button data-ng-show="vm.walletExists" data-ng-click="vm.depositToWallet()" class="btn btn-default btn-sm">Fund your wallet</button></li>
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <!-- Applications -->
                            <div class="col-sm-8">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h2>{{vm.dashboard.applicationsInTheLast12Months}} <span class="text-muted">applications</span></h2>
                                        <span>in the last 12 months</span>
                                        <div class="height-xs">
                                            <canvas id="chart-applications" class="margin-top-sm"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <a ui-sref="private.applications.view({status: 'Pending'})" class=" strong btn btn-primary btn-sm">View pending applications</a>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-default panel-body">
                                    <a ui-sref="private.applications.view({status: 'Pending'})" class=" text-warning">
                                        <h2>{{vm.dashboard.pendingApplications}}</h2>
                                        <h4 class="padding-bottom-sm">pending review</h4>
                                        <h5><strong>Ksh. {{vm.dashboard.pendingApplicationsAmount | number : 2}}</strong></h5>
                                    </a>
                                </div>
                                <div class="panel panel-default panel-body">
                                    <a ui-sref="private.applications.view({status: 'Approved'})" class=" text-success">
                                        <h2>{{vm.dashboard.approvedApplications}} </h2>
                                        <h4 class="padding-bottom-sm">awaiting disbursment</h4>
                                        <h5><strong>Ksh. {{vm.dashboard.approvedApplicationsAmount | number : 2}}</strong></h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

