﻿<div class="col-sm-9">
    <div class="col-sm-9 product-content border-lighter">
        <div block-ui="productDetailsFormBlockUI">
            <h2>{{vm.product.name}}</h2>
            <ul class="list-inline margin-top-sm">
                <li><strong>Visibility: </strong>{{vm.product.visibility}}</li>
                <li><strong>Period</strong>: {{vm.product.startDate | date : 'dd MMMM yyyy'}} - {{vm.product.endDate | date : 'dd MMMM yyyy'}}</li>
                <li><strong>Published</strong>: {{vm.product.published ? 'Yes' : 'No'}}</li>
            </ul>
            <div class="divider"></div>

            <h4 class="strong">Details</h4>
            <ul class="list-unstyled margin-top-md">
                <li><strong>Loan Range</strong>: Ksh. {{vm.product.minimumAmount | number : 2}} - Ksh. {{vm.product.maximumAmount | number : 2}}</li>
                <li><strong>{{vm.product.interestPeriod}} Interest Rate:</strong> {{vm.product.interestRate}}%</li>
                <li><strong>Duration:</strong> {{vm.product.minimumRepaymentPeriod}} - {{vm.product.maximumRepaymentPeriod}} months</li>
                <li>
                    <strong>Fees:</strong>
                    <ul class="list-unstyled padding-left-md">
                        <li ng-repeat="fee in vm.product.productFees">{{fee.name}} - Ksh. {{fee.amount | number : 2}}</li>
                    </ul>
                </li>
            </ul>
            <div class="divider"></div>

            <h4 class="strong">Qualification</h4>
            <ul class="list-unstyled margin-top-md">
                <li><strong>Employment:</strong> {{vm.product.employed ? 'Yes' : 'No'}}</li>
                <li data-ng-show="vm.product.employed"><strong>Minimum period of employment:</strong> {{vm.product.minimumPeriodOfEmployment}} {{vm.product.minimumEmploymentPeriod}}</li>
                <li><strong>CRB Report:</strong> {{vm.product.crbHistory ? 'Yes' : 'No'}}</li>
                <li data-ng-show="vm.product.crbHistory"><strong>CRB Score:</strong> {{vm.product.crbHistoryDetails}}</li>
                <li><strong>Collateral:</strong> {{vm.product.collateral ? 'Yes' : 'No'}}</li>
                <li data-ng-show="vm.product.collateral"><strong>Collateral Percentage:</strong> {{vm.product.collateralPercentage | number : 2}}%</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3 padding-top-lg product-actions">
        <ul class="list-unstyled">
            <li><a href="" data-ng-disabled="vm.isPublishing" ng-show="!vm.product.published" data-ng-click="vm.publishProduct()" class="btn brand-primary-btn btn-lg" data-ng-style="{'background-color': themeSettings.brandPrimary.color, color:themeSettings.brandPrimary.textColor}"><i class="fa fa-play"></i> &nbsp;Publish product</a></li>
            <li><a ui-sref="private.products.edit({productId:vm.product.id})" class="btn btn-default btn-sm">Edit product</a></li>
            <li class="divider"></li>
            <li><a href="#" data-ng-show="false" class="btn btn-default btn-sm">Preview as applicant</a></li>
            <li><a href="#" data-ng-show="false" class="btn btn-default btn-sm">Print application</a></li>
        </ul>
    </div>
</div>