﻿<div role="tabpanel" class="tb-products tab-pane active" id="products">

    <!-- Title -->
    <div class="title row padding-top-md padding-bottom-md">
        <div class="col-sm-3">
            <!--<select class="form-control">
                <option selected>All Products</option>
                <option>Active Products</option>
                <option>Archived Products</option>
            </select>-->
        </div>
        <div class="col-sm-9">
            <ul class="list-inline full-width">
                <!--<li><input class="form-control" placeholder="Search" /></li>-->
                <li class="pull-right"><a ui-sref="private.products.add" class="btn brand-primary-btn strong" data-ng-style="{'background-color': themeSettings.brandPrimary.color, color:themeSettings.brandPrimary.textColor}">+ Product</a></li>
            </ul>
        </div>
    </div>

    <div class="margin-bottom-md row">
        <div class="col-sm-3 product-column">
            
            <a ui-sref="private.products.details({productId: product.id})" ui-sref-active="brand-active" class="product" data-ng-repeat="product in organizationProducts">
                <div class="padding-md padding-bottom-xs">
                    <h4 class="strong">{{product.name}}</h4>
                    <p>Personal Loan</p>
                    <ul class="list-unstyled small">
                        <li>{{product.startDate | date: 'dd MMM yyyy'}} - {{product.endDate | date: 'dd MMM yyyy'}}</li>
                        <li>
                            <ul class="list-inline">
                                <li>{{product.visibility}}</li>
                                <li class="pull-right" title="Running"><span><i class="fa fa-play"></i></span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </a>

        </div>

        <div ui-view></div>
    </div>

</div>