﻿<div class="col-sm-9">
    <h3 class="padding-bottom-md">{{vm.operation}} product</h3>
    <div class="col-sm-9 product-edit">
        <form id="productForm" name="productForm" ng-submit="vm.save(productForm.$valid,publish)" role="form" class="" novalidate>
            <div block-ui="productFormBlockUI">
                <div class="row form-group"
                     ng-class="{ 'has-error': (productForm.name.$invalid) && (productForm.name.$touched || submitted) }">
                    <div class="col-sm-12">
                        <label>Name of product</label>
                        <input name="name" type="text" data-ng-model="vm.product.name" class="form-control input-lg" placeholder="Name of product" required />
                        <div ng-messages="productForm.name.$error" ng-show="productForm.name.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter name</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" data-ng-model="vm.product.description" placeholder="Type a description about your product here" rows="3"></textarea>
                </div>

                <div class="row form-group">
                    <div class="col-sm-4"
                         ng-class="{ 'has-error': (productForm.visibility.$invalid) && (productForm.visibility.$touched || submitted) }">
                        <label>Visibility</label>
                        <select name="visibility" data-ng-model="vm.product.visibility" class="form-control" required>
                            <option selected>Private</option>
                            <option>Public</option>
                        </select>
                        <div ng-messages="productForm.visibility.$error" ng-show="productForm.visibility.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter visibility</div>
                        </div>
                    </div>
                    <div class="col-sm-8"
                         ng-class="{ 'has-error': ((productForm.startDate.$invalid) && (productForm.startDate.$touched || submitted)) || ((productForm.endDate.$invalid) && (productForm.endDate.$touched || submitted)) }">
                        <label>Period</label>
                        <div class="input-group">
                            <!--<div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="" href="">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-ng-model="vm.product.startDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="vm.product.startDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView:'day' }" />
                                </ul>
                            </div>-->
                            <input name="startDate" data-ng-model="vm.product.startDate" class="form-control" type="date" placeholder="From" min="2000-01-01" required />
                            <span class="input-group-addon">to</span>
                            <input name="endDate" data-ng-model="vm.product.endDate" class="form-control" type="date" placeholder="To" min="2000-01-01" required />
                           
                        </div>
                        <div ng-messages="productForm.startDate.$error" ng-show="productForm.startDate.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter start date</div>
                            <div ng-message="date">Enter valid start date</div>
                            <div ng-message="min">Min start date: 01/01/2000</div>
                        </div>
                        <div ng-messages="productForm.endDate.$error" ng-show="productForm.endDate.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter end date</div>
                            <div ng-message="date">Enter valid end date</div>
                            <div ng-message="min">Min end date: 01/01/2000</div>
                        </div>
                    </div>
                </div>

                <div class="row"><div class="divider"></div></div>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <h3>Loan Details</h3>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-12"
                         ng-class="{ 'has-error': ((productForm.minimumAmount.$invalid) && (productForm.minimumAmount.$touched || submitted)) || ((productForm.maximumAmount.$invalid) && (productForm.maximumAmount.$touched || submitted)) }">
                        <label>Loan Amount Range</label>
                        <div class="input-group">
                            <input name="minimumAmount" data-ng-model="vm.product.minimumAmount" class="form-control" type="number" placeholder="Minimum" min="0" required />
                            <span class="input-group-addon">to</span>
                            <input name="maximumAmount" data-ng-model="vm.product.maximumAmount" class="form-control" type="number" placeholder="Maximum" min="0" required />
                           
                        </div>
                        <div ng-messages="productForm.minimumAmount.$error" ng-show="productForm.minimumAmount.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter minimum amount</div>
                            <div ng-message="min">Minimum value is 0</div>
                        </div>
                        <div ng-messages="productForm.maximumAmount.$error" ng-show="productForm.maximumAmount.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter maximum amount</div>
                            <div ng-message="min">Minimum value is 0</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6" data-ng-hide="true">
                        <label>Type of Loan</label>
                        <select class="form-control">
                            <option selected>Car loan</option>
                            <option>Public</option>
                        </select>
                    </div>
                    <div class="col-sm-6" ng-class="{ 'has-error': (productForm.interestRate.$invalid) && (productForm.interestRate.$touched || submitted) }">
                        <label>Interest Rate (%)</label>
                        <div class="input-group">
                            <span class="input-group-addon">Fixed</span>
                            <input name="interestRate" data-ng-model="vm.product.interestRate" class="form-control" type="number" placeholder="eg. 6" min="0" max="100" required />
                            <span class="input-group-btn">
                                <select class="btn btn-default dropdown-toggle" name="interestPeriod" data-ng-model="vm.product.interestPeriod">
                                    <option>Monthly</option>
                                    <option>Yearly</option>
                                </select>
                            </span>
                        </div>
                        <div ng-messages="productForm.interestRate.$error" ng-show="productForm.interestRate.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter interest rate</div>
                            <div ng-message="min">Minimum value is 0</div>
                            <div ng-message="min">Maximum value is 100</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-12"
                         ng-class="{ 'has-error': ((productForm.minimumRepaymentPeriod.$invalid) && (productForm.minimumRepaymentPeriod.$touched || submitted)) || ((productForm.maximumRepaymentPeriod.$invalid) && (productForm.maximumRepaymentPeriod.$touched || submitted)) }">
                        <label>Repayment Duration</label>
                        <div class="input-group">
                            <span class="input-group-addon">Minimum</span>
                            <input name="minimumRepaymentPeriod" data-ng-model="vm.product.minimumRepaymentPeriod" class="form-control" type="number" min="0" placeholder="" required />
                            <span class="input-group-addon">months. Maximum</span>
                            <input name="maximumRepaymentPeriod" data-ng-model="vm.product.maximumRepaymentPeriod" class="form-control" type="number" min="0" placeholder="" required />
                            <span class="input-group-addon">months.</span>
                        </div>
                        <div ng-messages="productForm.minimumRepaymentPeriod.$error" ng-show="productForm.minimumRepaymentPeriod.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter miniumum repayment duration</div>
                            <div ng-message="min">Minimum value is 0</div>
                        </div>
                        <div ng-messages="productForm.maximumRepaymentPeriod.$error" ng-show="productForm.maximumRepaymentPeriod.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter maximum repayment duration</div>
                            <div ng-message="min">Minimum value is 0</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group" ng-class="{ 'has-error': (productForm.repaymentStartDays.$invalid) && (productForm.repaymentStartDays.$touched || submitted) }">
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon">Repayment starts</span>
                            <input name="repaymentStartDays" data-ng-model="vm.product.repaymentStartDays" class="form-control" min="0" type="number" placeholder="" required />
                            <span class="input-group-addon">days from disbursment.</span>

                        </div>
                        <div ng-messages="productForm.repaymentStartDays.$error" ng-show="productForm.repaymentStartDays.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter day after which disbursement starts</div>
                            <div ng-message="min">Minimum value is 0</div>
                        </div>
                    </div>
                </div>

                <div class="row"><div class="divider"></div></div>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <h3>Qualifications</h3>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-8 padding-bottom-sm">
                        <div ng-class="{ 'has-error': (productForm.minimumPercentageOfMonthlyIncome.$invalid) && (productForm.minimumPercentageOfMonthlyIncome.$touched || submitted) }">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Maximum % of monthly income</span>
                                <input name="minimumPercentageOfMonthlyIncome" data-ng-model="vm.product.minimumPercentageOfMonthlyIncome" class="form-control" type="number" min="0" placeholder="" />
                                <span class="input-group-addon">%</span>

                            </div>
                            <div ng-messages="productForm.minimumPercentageOfMonthlyIncome.$error" ng-show="productForm.minimumPercentageOfMonthlyIncome.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="min">Minimum value is 0</div>
                            </div>
                        </div>
                       

                        <div class="row padding-sm"></div>

                        <div class="checkbox-inline" ng-class="{ 'has-error': (productForm.minimumPeriodOfEmployment.$invalid) && (productForm.minimumPeriodOfEmployment.$touched || submitted) }">
                            <label>
                                <input data-ng-model="vm.product.employed" type="checkbox" />
                                Employed
                            </label>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Minimum period of employment</span>
                                <input name="minimumPeriodOfEmployment" data-ng-model="vm.product.minimumPeriodOfEmployment" class="form-control" min="0" type="number" ng-required="vm.product.employed" placeholder="" />
                                <span class="input-group-btn">
                                    <select class="btn btn-default dropdown-toggle" name="minimumEmploymentPeriod" data-ng-model="vm.product.minimumEmploymentPeriod">
                                        <option>months</option>
                                        <option>years</option>
                                    </select>
                                </span>
                            </div>
                            <div ng-messages="productForm.minimumPeriodOfEmployment.$error" ng-show="productForm.minimumPeriodOfEmployment.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Enter minimum period of employment</div>
                                <div ng-message="min">Minimum value is 0</div>
                            </div>
                        </div>

                        <div class="row padding-sm"></div>


                        <div class="row padding-sm"></div>

                        <div class="checkbox-inline" ng-class="{ 'has-error': (productForm.crbHistoryDetails.$invalid) && (productForm.crbHistoryDetails.$touched || submitted) }">
                            <label>
                                <input data-ng-model="vm.product.crbHistory" type="checkbox" />
                                CRB History
                            </label>
                            <select name="crbHistoryDetails" data-ng-model="vm.product.crbHistoryDetails" class="form-control" ng-required="vm.product.crbHistory">
                                <option>No history</option>
                                <option>Excellent</option>
                                <option>Good</option>
                                <option>Average</option>
                                <option>Below Average</option>
                                <option>Poor</option>
                            </select>
                            <div ng-messages="productForm.crbHistoryDetails.$error" ng-show="productForm.crbHistoryDetails.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Select CRB history</div>
                            </div>
                        </div>

                        <div class="row padding-sm"></div>

                        <div class="checkbox-inline" ng-class="{ 'has-error': (productForm.collateralPercentage.$invalid) && (productForm.collateralPercentage.$touched || submitted) }">
                            <label>
                                <input data-ng-model="vm.product.collateral" type="checkbox" />
                                Collateral / Security
                            </label>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Valued at</span>
                                <input name="collateralPercentage" data-ng-model="vm.product.collateralPercentage" class="form-control" type="number" min="0" max="100" placeholder="Amount" ng-required="vm.product.collateral" />
                                <span class="input-group-addon">% of loan</span>
                            </div>
                            <div ng-messages="productForm.collateralPercentage.$error" ng-show="productForm.collateralPercentage.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Enter collateral/security amount</div>
                                <div ng-message="min">Minimum value is 0</div>
                                <div ng-message="max">Maximum value is 100</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row"><div class="divider"></div></div>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <h3>Documents required (Personal loans)</h3>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input data-ng-model="vm.product.personalNationalId" type="checkbox" />
                                National ID
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input data-ng-model="vm.product.personalKraPin" type="checkbox" />
                                KRA PIN
                            </label>
                        </div>
                        <div class="checkbox-inline" ng-class="{ 'has-error': (productForm.personalBankStatementMonths.$invalid) && (productForm.personalBankStatementMonths.$touched || submitted) }">
                            <label>
                                <input data-ng-model="vm.product.personalBankStatements" type="checkbox" />
                                Bank Statements
                            </label>
                            <span class="input-group">
                                <span class="input-group-addon">Number of months required</span>
                                <input name="personalBankStatementMonths" data-ng-model="vm.product.personalBankStatementMonths" class="form-control" type="text" placeholder="" min="0" ng-required="vm.product.personalBankStatements" />
                            </span>
                            <div ng-messages="productForm.personalBankStatementMonths.$error" ng-show="productForm.personalBankStatementMonths.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Enter number of months required</div>
                                <div ng-message="min">Minimum value is 0</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row"><div class="divider"></div></div>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <h3>Documents required (Business loans)</h3>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <h4 class="padding-bottom-xs">Owner</h4>
                        <div class="checkbox">
                            <label>
                                <input data-ng-model="vm.product.businessOwnerNationalId" type="checkbox" />
                                National ID
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input data-ng-model="vm.product.businessOwnerKraPin" type="checkbox" />
                                KRA PIN
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h4 class="padding-bottom-xs">Directors</h4>
                        <div class="checkbox">
                            <label>
                                <input data-ng-model="vm.product.directorNationalId" type="checkbox" />
                                National ID
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input data-ng-model="vm.product.directorKraPin" type="checkbox" />
                                KRA PIN
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="padding-bottom-xs">Company</h4>
                        <div class="checkbox">
                            <label>
                                <input data-ng-model="vm.product.companyRegistration" type="checkbox" />
                                Company Registration
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input data-ng-model="vm.product.companyBusinessPermit" type="checkbox" />
                                Business Permit
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input data-ng-model="vm.product.companyPin" type="checkbox" />
                                Company PIN
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-8">
                        <h4 class="padding-bottom-xs">Financial</h4>
                        <div class="checkbox">
                            <label>
                                <input data-ng-model="vm.product.financialCollateral" type="checkbox" />
                                Collateral
                            </label>
                        </div>
                        <div class="checkbox-inline" ng-class="{ 'has-error': (productForm.financialBankStatementMonths.$invalid) && (productForm.financialBankStatementMonths.$touched || submitted) }">
                            <label>
                                <input data-ng-model="vm.product.financialBankStatements" type="checkbox" />
                                Bank Statements
                            </label>
                            <span class="input-group">
                                <span class="input-group-addon">Number of months required</span>
                                <input name="financialBankStatementMonths" data-ng-model="vm.product.financialBankStatementMonths" class="form-control" type="number" min="0" placeholder="" ng-required="vm.product.financialBankStatements" />
                            </span>
                            <div ng-messages="productForm.financialBankStatementMonths.$error" ng-show="productForm.financialBankStatementMonths.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="required">Enter number of months required</div>
                                <div ng-message="min">Minimum value is 0</div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input data-ng-model="vm.product.financialStatements" type="checkbox" />
                                Financial Statements
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input data-ng-model="vm.product.financialCrbReport" type="checkbox" />
                                CRB Report
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row"><div class="divider"></div></div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <h3>Fees</h3>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12" data-ng-repeat="fee in vm.product.productFees">
                    <label>{{fee.name}}</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <select data-ng-model="fee.computation" class="btn btn-default dropdown-toggle">
                                <option>fixed amount</option>
                                <option>% of loan amount</option>
                            </select>
                        </span>
                        <input name="feeAmount" data-ng-model="fee.amount" class="form-control" type="number" min="0.01" placeholder="" required />
                        <span class="input-group-btn">
                            <select name="feeRecovery" data-ng-model="fee.recovery" class="btn btn-default dropdown-toggle">
                                <option>added to principal</option>
                                <option>deducted from principal</option>
                                <option>paid upfront</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <form id="productFeeForm" name="productFeeForm" ng-submit="vm.saveFee(productFeeForm.$valid)" role="form" class="" novalidate>
            <div block-ui="productFeeFormBlockUI">
                <div class="row form-group">
                    <div class="col-sm-12">
                        <label>New fee</label>
                        <div class="input-group input-group-sm"
                             ng-class="{ 'has-error': ((productFeeForm.name.$invalid) && (productFeeForm.name.$touched || submittedFee)) ||
                                                    ((productFeeForm.computation.$invalid) && (productFeeForm.computation.$touched || submittedFee)) ||
                                                    ((productFeeForm.amount.$invalid) && (productFeeForm.amount.$touched || submittedFee)) ||
                                                    ((productFeeForm.recovery.$invalid) && (productFeeForm.recovery.$touched || submittedFee))}">

                            <input name="name" data-ng-model="vm.productFee.name" class="form-control" type="text" placeholder="Name" required />
                            <span class="input-group-btn">
                                <select name="computation" data-ng-model="vm.productFee.computation" class="btn btn-default dropdown-toggle" required>
                                    <option>fixed amount</option>
                                    <option>% of loan amount</option>
                                </select>
                            </span>
                            <input name="amount" data-ng-model="vm.productFee.amount" class="form-control" type="number" min="0.01" placeholder="Amount" required />
                            <span class="input-group-btn">
                                <select name="recovery" data-ng-model="vm.productFee.recovery" class="btn btn-default dropdown-toggle" required>
                                    <option>added to principal</option>
                                    <option>deducted from principal</option>
                                    <option>paid upfront</option>
                                </select>
                            </span>
                        </div>
                        <div ng-messages="productFeeForm.name.$error" ng-show="productFeeForm.name.$touched || submittedFee" style="color:red" role="alert">
                            <div ng-message="required">Name is required</div>
                        </div>
                        <div ng-messages="productFeeForm.computation.$error" ng-show="productFeeForm.computation.$touched || submittedFee" style="color:red" role="alert">
                            <div ng-message="required">Computation is required</div>
                        </div>
                        <div ng-messages="productFeeForm.amount.$error" ng-show="productFeeForm.amount.$touched || submittedFee" style="color:red" role="alert">
                            <div ng-message="required">Amount is required</div>
                            <div ng-message="min">Minimum amount is 0.01</div>
                        </div>
                        <div ng-messages="productFeeForm.recovery.$error" ng-show="productFeeForm.recovery.$touched || submittedFee" style="color:red" role="alert">
                            <div ng-message="required">Recovery is required</div>
                        </div>
                    </div>
                    <div class="col-sm-12 padding-top-xs">
                        <input type="submit" data-ng-disabled="vm.isSavingFee" data-ng-click="submittedFee=true" class="btn btn-sm btn-default" value="Add fee" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-3 padding-top-lg product-actions">
        <ul class="list-unstyled">
            <li><input type="submit" data-ng-disabled="vm.isSaving" data-ng-click="submitted=true;publish=false" form="productForm" class="btn brand-primary-btn btn-lg" data-ng-style="{'background-color': themeSettings.brandPrimary.color, color:themeSettings.brandPrimary.textColor}" value="{{vm.operation=='Add'? 'Save' : 'Update'}} product" /></li>
            <li data-ng-show="vm.operation=='Add'"><input type="submit" data-ng-disabled="vm.isSaving" data-ng-click="submitted=true;publish=true" form="productForm" class="btn brand-primary-btn" data-ng-style="{'background-color': themeSettings.brandPrimary.color, color:themeSettings.brandPrimary.textColor}" value="Save & Publish" /></li>
            <li data-ng-show="false"><input type="submit" data-ng-disabled="vm.isSaving" class="btn btn-default btn-sm" value="Preview as applicant" /></li>
            <li class="divider"></li>
            <li data-ng-show="false"><input type="submit" data-ng-disabled="vm.isSaving" class="btn btn-default btn-sm" value="Archive product" /></li>
        </ul>
    </div>
</div>