/* Lending Portal */
/* Globals */
* {
  font-family: 'soleil', sans-serif;
  color: inherit;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: inherit;
}

/* Colors */
/* MIXINS */
/* Implementations of the mixins, which will be removed later */
/* Height */
.height-xl {
  height: 720px;
}

.height-lg {
  height: 360px;
}

.height-md {
  height: 240px;
}

.height-sm {
  height: 180px;
}

.height-xs {
  height: 144px;
}

.height-xx {
  height: 72px;
}

.height-full {
  height: 100% !important;
  position: relative;
}

/* Spacing */
.padding-0 {
  padding: 0 !important;
}

.padding-xl {
  padding: 60px;
}

.padding-lg {
  padding: 30px;
}

.padding-md {
  padding: 15px;
}

.padding-sm {
  padding: 7.5px;
}

.padding-xs {
  padding: 3.75px;
}

.padding-left-xl {
  padding-left: 60px;
}

.padding-left-lg {
  padding-left: 30px;
}

.padding-left-md {
  padding-left: 15px;
}

.padding-left-sm {
  padding-left: 7.5px;
}

.padding-left-xs {
  padding-left: 3.75px;
}

.padding-right-xl {
  padding-right: 60px;
}

.padding-right-lg {
  padding-right: 30px;
}

.padding-right-md {
  padding-right: 15px;
}

.padding-right-sm {
  padding-right: 7.5px;
}

.padding-right-xs {
  padding-right: 3.75px;
}

.padding-top-xl {
  padding-top: 60px;
}

.padding-top-lg {
  padding-top: 30px;
}

.padding-top-md {
  padding-top: 15px;
}

.padding-top-sm {
  padding-top: 7.5px;
}

.padding-top-xs {
  padding-top: 3.75px;
}

.padding-bottom-xl {
  padding-bottom: 60px;
}

.padding-bottom-lg {
  padding-bottom: 30px;
}

.padding-bottom-md {
  padding-bottom: 15px;
}

.padding-bottom-sm {
  padding-bottom: 7.5px;
}

.padding-bottom-xs {
  padding-bottom: 3.75px;
}

/* Margin */
.margin-0 {
  margin: 0 !important;
}

.margin-xs {
  margin: 3.75px;
}

.margin-sm {
  margin: 7.5px;
}

.margin-md {
  margin: 15px;
}

.margin-lg {
  margin: 30px;
}

.margin-xl {
  margin: 60px;
}

.margin-left-xl {
  margin-left: 60px;
}

.margin-left-lg {
  margin-right: 30px;
}

.margin-left-md {
  margin-right: 15px;
}

.margin-left-sm {
  margin-right: 7.5px;
}

.margin-left-xs {
  margin-right: 3.75px;
}

.margin-right-xl {
  margin-right: 60px;
}

.margin-right-lg {
  margin-right: 30px;
}

.margin-right-md {
  margin-right: 15px;
}

.margin-right-sm {
  margin-right: 7.5px;
}

.margin-right-xs {
  margin-right: 3.75px;
}

.margin-top-xl {
  margin-top: 60px;
}

.margin-top-lg {
  margin-top: 30px;
}

.margin-top-md {
  margin-top: 15px;
}

.margin-top-sm {
  margin-top: 7.5px;
}

.margin-top-xs {
  margin-top: 3.75px;
}

.margin-bottom-xl {
  margin-bottom: 60px;
}

.margin-bottom-lg {
  margin-bottom: 30px;
}

.margin-bottom-md {
  margin-bottom: 15px;
}

.margin-bottom-sm {
  margin-bottom: 7.5px;
}

.margin-bottom-xs {
  margin-bottom: 3.75px;
}

/* Misc */
.no-pad {
  padding: 0;
  margin: 0;
}

.va-middle {
  vertical-align: middle;
}

.strong {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.material-icons {
  font-size: inherit;
  line-height: 1;
  display: inline-block;
}

.capitalize {
  text-transform: capitalize;
}

.step {
  padding: 10px 14px;
  background: #0078a3;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float: right;
  display: inline;
}

.text-lg {
  font-size: 1.3em;
  line-height: 1em;
}

.list-unstyled-mod {
  list-style: none;
}

.breadcrumb {
  background-color: transparent !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider {
  margin: 15px 0;
  width: 100%;
  display: inline-block;
  border-top: #e6e6e6 solid 1px;
}

.inline {
  display: inline;
}

.transparent {
  opacity: 0.4;
}

.transparent:hover {
  opacity: 1;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

/* Modified Bootstrap elements */
.modal {
  padding-top: 3%;
  overflow: auto;
}

.modal-backdrop {
  background-color: #fff;
}

.modal-backdrop.in {
  opacity: .97;
}

.modal-content {
  position: relative;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress {
  margin-bottom: 0;
}

.label {
  font-weight: 400;
}

ul {
  margin-right: 0 !important;
}

ul.list-inline {
  margin-left: 0;
}

ul li:last-child {
  padding-right: 0;
}

.overflow-hidden {
  overflow: hidden;
}

canvas {
  display: block;
}

.table td:first-child, .table th:first-child {
  padding-left: 15px !important;
}

.table td:last-child, .table th:last-child {
  padding-right: 15px !important;
}

/* Pace plugin */
.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #1b9bf8;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* Colors */
.text-white {
  color: #fff;
}

.text-white:hover {
  color: #fff;
}

.text-underline {
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

.text-underline-white {
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.text-underline-white:hover {
  border-bottom-color: #fff;
}

.input-color {
  padding: 0 !important;
  background: none !important;
  border: none;
  outline: none;
  border-radius: 0;
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
}

.input-color:before, .input-color:after {
  content: '';
  border: none;
  outline: none;
}

.selected {
  background-color: #fff;
  color: #00b96a;
}

.selected a {
  color: black !important;
}

/* Background */
.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #e6e6e6;
}

.bg-grey-light {
  background-color: #f2f2f2;
}

.bg-none {
  background: none !important;
  border: none !important;
}

tr.bg-none {
  background: none !important;
  border: none !important;
}

/* Custom Buttons styles */
.btn-hd {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.btn-md {
  font-size: 18px;
  padding: 10px 15px;
}

.btn-xl {
  padding: 15px 21px;
  font-size: 30px;
  line-height: 1.3333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.btn-accent {
  background: orange;
  color: #fff;
}

.btn-accent:hover, .btn-accent:focus, .btn-accent:visited {
  background: #ffb733;
  color: #fff;
}

/* Borders */
.border {
  border: #cccccc solid 1px;
}

.border-top {
  border-top: #b3b3b3 solid 1px;
}

.border-top-light {
  border-top: #cccccc solid 1px;
}

.border-top-lighter {
  border-top: #e6e6e6 solid 1px;
}

.border-bottom {
  border-bottom: #b3b3b3 solid 1px;
}

.border-bottom-light {
  border-bottom: #cccccc solid 1px;
}

.border-bottom-lighter {
  border-bottom: #e6e6e6 solid 1px;
}

.border-left {
  border-left: #b3b3b3 solid 1px;
}

.border-left-light {
  border-left: #cccccc solid 1px;
}

.border-left-lighter {
  border-left: #e6e6e6 solid 1px;
}

.border-right {
  border-right: #b3b3b3 solid 1px;
}

.border-right-light {
  border-right: #cccccc solid 1px;
}

.border-right-lighter {
  border-right: #e6e6e6 solid 1px;
}

.border-light {
  border: #cccccc solid 1px;
}

.border-lighter {
  border: #e6e6e6 solid 1px;
}

.border-white {
  border-color: #fff;
}

.border-radius {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.border-2px {
  border-width: 2px;
}

.border-3px {
  border-width: 3px;
}

.border-5px {
  border-width: 5px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li > a {
  margin-right: 15px;
  border: none;
  border-radius: 4px 4px 0 0;
  color: inherit;
  font-weight: 400;
  font-size: 1.1em;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  border: none;
  background: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #555;
  border: none;
}

.btn {
  border-bottom-width: 3px;
}

body {
  background-color: #fafafa;
}

.header {
  position: fixed;
  width: 100%;
  display: inline;
  z-index: 1000;
}

.content {
  position: relative;
  display: block;
  margin-top: 135px;
}

.main {
  height: 100%;
  margin-top: 135px;
}

.main-bg {
  width: 100%;
  position: fixed;
  background-color: #000;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.main-bg .img-bg {
  position: relative;
  width: 100%;
  background-image: url("/images/fenera-main-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: .7;
}

.main-content {
  margin-top: 135px;
  padding-bottom: 30px;
}

.onboarding-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("https://source.unsplash.com/all/1920x1080/?nature") no-repeat;
  background-size: cover;
  opacity: .07;
}

.onboarding .lender-logo {
  overflow: hidden;
  border-radius: 4px;
  background: white;
  border: 1px solid #cccccc;
  padding: 15px;
}

.onboarding .lender-logo img {
  width: 100%;
}

.app .nav-tabs > li.active > a {
  background-color: #fafafa;
}

.app-actions ul {
  position: fixed;
}

.app-actions ul li {
  padding-bottom: 7.5px;
}

.app-notes-content {
  overflow: hidden;
  height: 560px;
  width: 100% !important;
  position: relative;
  background-color: #f5f5f5;
}

.app-notes-content .notes {
  display: inline-block;
  flex-flow: column nowrap;
  align-content: flex-end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 560px;
  overflow-y: scroll;
  vertical-align: bottom;
  padding-top: 15px;
}

.app-notes-content .notes .note-content {
  padding: 0 15px 15px 15px;
  margin-bottom: 15px;
}

.app-notes-add input {
  border: none;
  outline: none;
  width: 100%;
  border-top: #cccccc solid 1px;
  background-color: #ebebeb;
  padding: 7.5px 15px;
}

.app-notes-add input:focus {
  background-color: #fff;
}

.application-header {
  padding-top: 105px;
  padding-bottom: 15px;
  border-radius: 4px;
}

.application-header a {
  color: inherit;
}

.application-title {
  padding-top: 15px;
  padding-bottom: 15px;
}

.application-personal {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Tabs */
.tb-home-bigraph {
  margin-top: 80px;
  height: auto;
  position: relative;
}

.tb-home-bigraph canvas {
  display: block;
  text-align: center;
}

.tb-products {
  color: inherit;
  position: relative;
  display: block;
}

.tb-products .product-column {
  height: 480px;
  overflow-y: auto;
}

.tb-products .product-column .product {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  background: #fff;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 1px;
  border-bottom: #e6e6e6 solid 3px;
  border-radius: 4px;
}

.tb-products .product-column .product .status {
  width: 100%;
  height: 5px;
  display: block;
}

.tb-products .product-main {
  position: relative !important;
  display: block;
}

.tb-products .product-content {
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tb-products .product-add, .tb-products .product-edit {
  position: relative;
  border-radius: 4px;
  display: inline-block;
}

.tb-products .product-preview {
  z-index: 1000;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  display: block;
  border-radius: 4px;
}

.tb-products .product-actions ul, .tb-products .product .app-actions ul {
  position: fixed;
}

.tb-products .product-actions ul li, .tb-products .product .app-actions ul li {
  padding-bottom: 7.5px;
}

.brand {
  /* &-secondary{
        @include brand-theme(secondary, bg);
        @include brand-theme(secondary, text);
        &-color{
            @include brand-theme(secondary, color);
        }
        &-text{
            @include brand-theme(secondary, text);
        }
        &-btn{
            @include brand-theme(secondary, btn);
        }
    }*/
}

.brand-primary {
  background-color: #ccc;
  color: #fff;
}

.brand-primary-color {
  color: #ccc;
}

.brand-primary-text {
  color: #fff;
}

.brand-primary-btn {
  background-color: #ccc;
  color: #fff;
}

.brand-primary-btn:hover {
  background-color: #bfbfbf;
  color: #fff;
}

.brand-primary-border {
  border: #b3b3b3 solid 1px;
}

.brand-active {
  background-color: #ccc;
  color: #fff;
  border: #b3b3b3 solid 1px;
}

.brand-image {
  width: 45px;
  background: rgba(255, 255, 255, 0.4);
  float: left;
  margin-right: 15px;
}

.brand-image img {
  width: 100%;
}
