.store-products {
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  position: relative;
}
.store-products .product {
  padding: 15px;
  border: transparent solid 3px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 4px;
  display: inline-block;
  overflow: visible;
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.store-products .product .info,
.store-products .product img {
  position: relative;
  display: block;
}
.store-products .product:before,
.store-products .product:after {
  box-sizing: content-box !important;
}
.store-products .product img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}
.store-products .product:hover {
  background: #fff;
  border: #ccc solid 1px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.18);
}
.store-products .product.active {
  background: #fff;
  border: #ccc solid 1px;
  border-radius: 4px;
}
.store-products .product.active:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.18);
}
.store-products .product.highlight {
  background: #fbffbf;
  border: #eeff62 solid 1px;
  border-radius: 4px;
}
.store-products .product.highlight:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.18);
}
.store-products .out-of-stock {
  background: none;
  border: none;
  color: #999;
  cursor: auto;
}
.store-products .out-of-stock img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.store-products .out-of-stock:hover {
  background: none;
  border: none;
  color: #999;
  box-shadow: none;
}
