/* Marketplace */
/* Set up defaults */
/* Globals */
* {
  font-family: 'soleil', sans-serif;
  color: inherit;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: inherit;
}

/* Colors */
/* Height */
.height-xl {
  height: 720px;
}

.height-lg {
  height: 360px;
}

.height-md {
  height: 240px;
}

.height-sm {
  height: 180px;
}

.height-xs {
  height: 144px;
}

.height-xx {
  height: 72px;
}

.height-full {
  height: 100% !important;
  position: relative;
}

/* TEMP: Spacing */
/* Spacing */
/* Padding */
.padding-xs {
  padding: 3.75px;
}

.padding-sm {
  padding: 7.5px;
}

.padding-md {
  padding: 15px;
}

.padding-lg {
  padding: 30px;
}

.padding-xl {
  padding: 60px;
}

.padding-left-xl {
  padding-left: 60px;
}

.padding-left-lg {
  padding-left: 30px;
}

.padding-left-md {
  padding-left: 15px;
}

.padding-left-sm {
  padding-left: 7.5px;
}

.padding-left-xs {
  padding-left: 3.75px;
}

.padding-right-xl {
  padding-right: 60px;
}

.padding-right-lg {
  padding-right: 30px;
}

.padding-right-md {
  padding-right: 15px;
}

.padding-right-sm {
  padding-right: 7.5px;
}

.padding-right-xs {
  padding-right: 3.75px;
}

.padding-top-xl {
  padding-top: 60px;
}

.padding-top-lg {
  padding-top: 30px;
}

.padding-top-md {
  padding-top: 15px;
}

.padding-top-sm {
  padding-top: 7.5px;
}

.padding-top-xs {
  padding-top: 3.75px;
}

.padding-bottom-xl {
  padding-bottom: 60px;
}

.padding-bottom-lg {
  padding-bottom: 30px;
}

.padding-bottom-md {
  padding-bottom: 15px;
}

.padding-bottom-sm {
  padding-bottom: 7.5px;
}

.padding-bottom-xs {
  padding-bottom: 3.75px;
}

/* Margin */
.margin-xs {
  margin: 3.75px;
}

.margin-sm {
  margin: 7.5px;
}

.margin-md {
  margin: 15px;
}

.margin-lg {
  margin: 30px;
}

.margin-xl {
  margin: 60px;
}

.margin-left-xl {
  margin-left: 60px;
}

.margin-left-lg {
  margin-right: 30px;
}

.margin-left-md {
  margin-right: 15px;
}

.margin-left-sm {
  margin-right: 7.5px;
}

.margin-left-xs {
  margin-right: 3.75px;
}

.margin-right-xl {
  margin-right: 60px;
}

.margin-right-lg {
  margin-right: 30px;
}

.margin-right-md {
  margin-right: 15px;
}

.margin-right-sm {
  margin-right: 7.5px;
}

.margin-right-xs {
  margin-right: 3.75px;
}

.margin-top-xl {
  margin-top: 60px;
}

.margin-top-lg {
  margin-top: 30px;
}

.margin-top-md {
  margin-top: 15px;
}

.margin-top-sm {
  margin-top: 7.5px;
}

.margin-top-xs {
  margin-top: 3.75px;
}

.margin-bottom-xl {
  margin-bottom: 60px;
}

.margin-bottom-lg {
  margin-bottom: 30px;
}

.margin-bottom-md {
  margin-bottom: 15px;
}

.margin-bottom-sm {
  margin-bottom: 7.5px;
}

.margin-bottom-xs {
  margin-bottom: 3.75px;
}

/* Misc */
.no-pad {
  padding: 0;
  margin: 0;
}

.va-middle {
  vertical-align: middle;
}

.strong {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.material-icons {
  font-size: inherit;
  line-height: 1;
  display: inline-block;
}

.capitalize {
  text-transform: capitalize;
}

.step {
  padding: 10px 14px;
  background: #0078a3;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float: right;
  display: inline;
}

.text-lg {
  font-size: 1.3em;
  line-height: 1em;
}

.list-unstyled-mod {
  list-style: none;
}

.breadcrumb {
  background-color: transparent !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider {
  margin: 15px 0;
  width: 100%;
  display: inline-block;
  border-top: #e6e6e6 solid 1px;
}

.inline {
  display: inline;
}

/* Modified Bootstrap elements */
.modal {
  padding-top: 4%;
}

.modal-backdrop {
  background-color: #fff;
}

.modal-backdrop.in {
  opacity: .95;
}

.modal-content {
  position: relative;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Pace plugin */
.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #1b9bf8;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* Colors */
.text-white {
  color: #fff;
}

.text-white:hover {
  color: #fff;
}

.text-underline {
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

.text-underline-white {
  padding-bottom: 1px;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 255, 255, 0.7);
}

.text-underline-white:hover {
  border-bottom-color: #fff;
}

.input-color {
  padding: 0 !important;
  background: none !important;
  border: none;
  outline: none;
  border-radius: 0;
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
}

.input-color:before, .input-color:after {
  content: '';
  border: none;
  outline: none;
}

.selected {
  background-color: #fff;
  color: #00b96a;
}

.selected a {
  color: black !important;
}

/* Background */
.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #e6e6e6;
}

.bg-grey-light {
  background-color: #f2f2f2;
}

.bg-none {
  background: none !important;
  border: none !important;
}

tr.bg-none {
  background: none !important;
  border: none !important;
}

/* Custom Buttons styles */
.btn-hd {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.btn-md {
  font-size: 18px;
  padding: 10px 15px;
}

.btn-xl {
  padding: 15px 21px;
  font-size: 30px;
  line-height: 1.3333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.btn-accent {
  background: orange;
  color: #fff;
}

.btn-accent:hover, .btn-accent:focus, .btn-accent:visited {
  background: #ffb733;
  color: #fff;
}

/* Borders */
.border {
  border: #cccccc solid 1px;
}

.border-top {
  border-top: #b3b3b3 solid 1px;
}

.border-top-light {
  border-top: #cccccc solid 1px;
}

.border-top-lighter {
  border-top: #e6e6e6 solid 1px;
}

.border-bottom {
  border-bottom: #b3b3b3 solid 1px;
}

.border-bottom-light {
  border-bottom: #cccccc solid 1px;
}

.border-bottom-lighter {
  border-bottom: #e6e6e6 solid 1px;
}

.border-left {
  border-left: #b3b3b3 solid 1px;
}

.border-left-light {
  border-left: #cccccc solid 1px;
}

.border-left-lighter {
  border-left: #e6e6e6 solid 1px;
}

.border-right {
  border-right: #b3b3b3 solid 1px;
}

.border-right-light {
  border-right: #cccccc solid 1px;
}

.border-right-lighter {
  border-right: #e6e6e6 solid 1px;
}

.border-light {
  border: #cccccc solid 1px;
}

.border-lighter {
  border: #e6e6e6 solid 1px;
}

.border-white {
  border-color: #fff;
}

.border-radius {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.border-2px {
  border-width: 2px;
}

.border-3px {
  border-width: 3px;
}

.border-5px {
  border-width: 5px;
}

/* Styles */
