﻿<div class="modal-header n-pm">
    <button type="button" class="close" data-ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="h3 modal-title n-pm text-left">Fund the wallet</span>
</div>
<div class="modal-body">

    <!-- Select which account -->
    <form id="depositForm" name="depositForm" ng-submit="save(depositForm.$valid)" role="form" novalidate>
        <div block-ui="depositBlockUI"></div>
        <div class="form-group row">
            <div class="col-sm-12"
                 ng-class="{ 'has-error': (depositForm.amount.$invalid) && (walletAccountForm.amount.$touched || submitted) }">
                <label class="">Amount</label>
                <div class="input-group">
                    <span class="input-group-addon">{{wallet.currency}}</span>
                    <input name="amount" data-ng-model="transaction.amount" min="0.01" class="form-control strong" type="number" required />
                </div>
                <div ng-messages="depositForm.amount.$error" ng-show="depositForm.amount.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter amount</div>
                    <div ng-message="min">Enter amount</div>
                </div>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-sm-12 padding-top-md"
                 ng-class="{ 'has-error': (depositForm.account.$invalid) && (walletAccountForm.account.$touched || submitted) }">
                <label class="">From which account?</label>
                <select name="account" data-ng-model="transaction.source" class="strong form-control" required>
                    <option ng-repeat="account in accounts">{{account.displayName}}</option>
                </select>
                <div ng-messages="depositForm.account.$error" ng-show="depositForm.account.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Select account</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <label class="">Notes</label>
                <textarea style="width: 100%" name="notes" data-ng-model="transaction.notes" rows="2"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="text-right">
                <button type="button" class="btn btn-info pull-left" data-ng-click="upsertAccount()">Add new account</button>
                <button type="button" class="btn btn-default" data-ng-click="cancel()">Close</button>
                <button type="submit" class="btn btn-primary strong" data-ng-disabled="isSaving" data-ng-click="submitted=true">Deposit</button>
            </div>
        </div>
    </form>

</div>

