﻿<div class="padding-md">
    <div class="col-xs-12">
        <div class="n-pm h5">You wish to <strong>Deposit</strong></div>
        <div class="n-pm h3 text-success">{{wallet.currency}}. {{transaction.amount | number : 2}}</div>
        <div class="divider "></div>

        <div class="n-pm h5">from Account</div>
        <div class="n-pm h4 strong">{{transaction.source}}</div>

        <div class="divider "></div>

        <div class="h5 strong n-pm text-muted">Notes</div>
        <div class="">{{transaction.notes}}</div>
        <div class="divider "></div>

    </div>

    <div>
        <button type="button" class="btn" data-ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary strong pull-right" data-ng-click="ok()">Deposit</button>
    </div>
</div>