﻿<div class="col-sm-3">
    <div class="title h2 n-pm">Pair Wallet</div>
    <p>Pair your Caytree wallet with Fenera.</p>
    <p><a ui-sref="private.wallet.register" title="Create a Caytree wallet" class="small"><i>Don't have a Caytree wallet? Create one</i></a></p>
</div>
<div class="col-sm-6 col-sm-offset-1 padding-left-md padding-right-md">
    <form id="walletLoginForm" name="walletLoginForm" ng-submit="vm.login(walletLoginForm.$valid)" role="form" novalidate class="padding-top-sm padding-bottom-md">
        <div block-ui="loginFormBlockUI"></div>
        <div class="row">
            <div class="h3 strong n-pm padding-bottom-sm">Wallet Credentials</div>
        </div>
        <div class="form-group margin-top-lg row">
            
            <div class="col-sm-6"
                 ng-class="{ 'has-error': (walletLoginForm.username.$invalid) && (walletLoginForm.username.$touched || submitted) }">
                <label>Phone Number</label>
                <input name="username" data-ng-model="vm.model.username" class="form-control" type="text" placeholder="Phone Number"
                       required />
                <div ng-messages="walletLoginForm.username.$error" ng-show="walletLoginForm.username.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter phone number</div>
                </div>
            </div>
            <div class="col-sm-6"
                 ng-class="{ 'has-error': (walletLoginForm.password.$invalid) && (walletLoginForm.password.$touched || submitted) }">
                <label>PIN</label>
                <input name="password" data-ng-model="vm.model.password" class="form-control" type="password" placeholder="PIN" onkeyup="this.value = this.value.replace(/[^\d]+/, '')" maxlength="4" pattern="[0-9]{4}" required title="Enter 4 digit PIN" />
                <div ng-messages="walletLoginForm.password.$error" ng-show="walletLoginForm.password.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter PIN</div>
                    <div ng-message="pattern">Enter 4 digits</div>
                </div>
            </div>
        </div>

        <div class="row text-right padding-top-lg">
            <input data-ng-disabled="vm.isProcessing" type="submit" data-ng-click="submitted=true" class="btn btn-primary strong" value="Pair Wallet" />
        </div>
    </form>
</div>

