﻿<div class="col-sm-3">
    <div class="title h2 n-pm">Sign up for Wallet</div>
    <p><a ui-sref="private.wallet.login" title="Pair your Caytree Wallet" class="small"><i>Already have a Caytree Wallet? Pair it to Fenera.</i></a></p>
</div>
<div class="col-sm-6 col-sm-offset-1 padding-left-md padding-right-md">

    <form id="walletDetailsForm" name="walletDetailsForm" ng-submit="vm.save(walletDetailsForm.$valid)" role="form" novalidate class="padding-top-sm padding-bottom-md">
        <div block-ui="walletBlockUI"></div>
        <div class="row">
            <div class="h3 strong n-pm padding-bottom-sm">Wallet Details</div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12"
                 ng-class="{ 'has-error': (walletDetailsForm.businessName.$invalid) && (walletDetailsForm.businessName.$touched || submitted) }">
                <label>Business Name*</label>
                <input name="businessName" data-ng-model="vm.wallet.businessName" class="form-control" placeholder="Business Name" required />
                <div ng-messages="walletDetailsForm.businessName.$error" ng-show="walletDetailsForm.businessName.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter name</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6"
                 ng-class="{ 'has-error': (walletDetailsForm.phoneNumber.$invalid) && (walletDetailsForm.phoneNumber.$touched || submitted) }">
                <label>Phone Number*</label>
                <input name="phoneNumber" data-ng-model="vm.wallet.phoneNumber" class="form-control" placeholder="Phone Number" required />
                <div ng-messages="walletDetailsForm.phoneNumber.$error" ng-show="walletDetailsForm.phoneNumber.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter phone number</div>
                </div>
            </div>
            <div class="col-sm-6"
                 ng-class="{ 'has-error': (walletDetailsForm.email.$invalid) && (walletDetailsForm.email.$touched || submitted) }">
                <label>Email</label>
                <input name="email" data-ng-model="vm.wallet.email" type="email" class="form-control" placeholder="Email" />
                <div ng-messages="walletDetailsForm.email.$error" ng-show="walletDetailsForm.email.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="email">Enter valid email</div>
                </div>
            </div>
        </div>
       
        <div class="form-group row">
            <div class="col-sm-6">
                <label>Company Registration No.</label>
                <input class="form-control" placeholder="Company Registration No" />
            </div>
            <div class="col-sm-6"
                 ng-class="{ 'has-error': (walletDetailsForm.currency.$invalid) && (walletDetailsForm.currency.$touched || submitted) }">
                <label class="">Currency*</label>
                <select name="currency"
                        data-ng-model="vm.currency"
                        data-ng-options="currency.name for currency in vm.currencies | orderBy:'name'"
                        data-ng-change="vm.currencyChanged(vm.currency)"
                        class="form-control" required=""></select>
                <div ng-messages="walletDetailsForm.currency.$error" ng-show="walletDetailsForm.currency.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Select currency</div>
                </div>
            </div>
        </div>
        <div class="form-group margin-top-md row">

        </div>
        <div class="form-group margin-top-lg row">
            <div class="col-sm-12">
                <div class="h3 n-pm strong">Enter a PIN</div>
                <p>For security reasons, we require a PIN in order to access the Wallet.</p>
            </div>
            <div class="col-sm-6"
                 ng-class="{ 'has-error': (walletDetailsForm.password.$invalid) && (walletDetailsForm.password.$touched || submitted) }">
                <label>Enter a 4-digit Pin*</label>
                <input name="password" data-ng-model="vm.wallet.password" class="form-control" type="password" placeholder="PIN" onkeyup="this.value = this.value.replace(/[^\d]+/, '')" maxlength="4" pattern="[0-9]{4}" required title="Enter 4 digits" />
                <div ng-messages="walletDetailsForm.password.$error" ng-show="walletDetailsForm.password.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter PIN</div>
                    <div ng-message="pattern">Enter 4 digits</div>
                </div>
            </div>
            <div class="col-sm-6"
                 ng-class="{ 'has-error': (walletDetailsForm.confirmPassword.$invalid) && (walletDetailsForm.confirmPassword.$touched || submitted) }">
                <label>Confirm Pin*</label>
                <input name="confirmPassword" data-ng-model="vm.wallet.confirmPassword" class="form-control" type="password" placeholder="Confirm PIN"
                       onkeyup="this.value = this.value.replace(/[^\d]+/, '')" maxlength="4" pattern="[0-9]{4}" required title="Enter 4 digits"
                       compare-to="vm.wallet.password" />
                <div ng-messages="walletDetailsForm.confirmPassword.$error" ng-show="walletDetailsForm.confirmPassword.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Confirm PIN</div>
                    <div ng-message="pattern">Enter 4 digits</div>
                </div>
            </div>
        </div>
        <div class="row text-right padding-top-lg">
            <button class="btn">Cancel</button>
            <input data-ng-disabled="vm.isSaving" type="submit" data-ng-click="submitted=true" class="btn btn-primary strong" value="Register for the Wallet" />
        </div>
    </form>
</div>
