﻿<div class="modal-header n-pm">
    <button type="button" class="close" data-ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="h3 modal-title n-pm text-left" id="myModalLabel">Transfer to Other Wallet</span>
</div>
<div class="modal-body">
    <form id="transferForm" name="transferForm" ng-submit="save(transferForm.$valid)" role="form" novalidate>
        <div block-ui="transferBlockUI"></div>
        <div class="row form-group">
            <div class="col-sm-6"
                 ng-class="{ 'has-error': (transferForm.walletPhoneNumber.$invalid) && (transferForm.walletPhoneNumber.$touched || submitted) }">
                <label class="h4 n-pm">Send to</label>
                <input name="walletPhoneNumber" data-ng-model="transaction.destination" class="form-control" placeholder="Phone number" required />
                <div ng-messages="transferForm.walletPhoneNumber.$error" ng-show="transferForm.walletPhoneNumber.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter phone number</div>
                </div>
            </div>
            <div class="col-sm-6 padding-left-md form-group"
                 ng-class="{ 'has-error': (transferForm.amount.$invalid) && (transferForm.amount.$touched || submitted) }">
                <label class="h4 n-pm">Amount</label>
                <div class="input-group">
                    <span class="input-group-addon">{{wallet.currency}}.</span>
                    <input name="amount" data-ng-model="transaction.amount" class="form-control strong" type="number" min="0.01" required />
                </div>
                <div ng-messages="transferForm.amount.$error" ng-show="transferForm.amount.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter amount</div>
                    <div ng-message="min">Enter amount</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <label class="h4 n-pm">Notes</label>
                <textarea class="form-control" rows="2"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="text-right">
                <button type="button" class="btn pull-left" data-ng-disabled="isSaving" data-ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary strong" data-ng-disabled="isSaving" data-ng-click="submitted=true">Transfer</button>
            </div>
        </div>

    </form>
</div>
