﻿<div class="">
    <div class="">
        <div class="confirm">
            <img class="confirm-sm img-circle bg-success" src="../../../images/gravator-person-01.png" />
            <div class="confirm-details">
                <div class="n-pm h5">{{recipientWalletName}}</div>
                <div class="n-pm h3 text-success">{{transaction.destination}}</div>
                <span class="small text-success"><i class="fa fa-check-circle-o"></i> Verified Wallet User</span>

                <div class="divider "></div>
                <div class="h3 n-pm">{{wallet.currency}}. {{transaction.amount | currency : ''}}</div>
                <div class="h5 n-pm"><strong>{{wallet.currency}}. {{transaction.fees | currency : ''}}</strong> in fees</div>

                <div class="divider"></div>
                <!--<div class="h5 n-pm"><strong>Category:</strong> Utilities</div>-->

                <div class="h5 strong n-pm padding-top-md">Notes</div>
                <span>{{transaction.notes}}</span>

                <div class="padding-md"></div>
            </div>

            <div>
                <button type="button" class="btn" data-ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary strong pull-right" data-ng-click="ok()">Transfer</button>
            </div>
        </div>
    </div>

</div>