﻿<button type="button" class="close" data-dismiss="modal"
        ng-click="cancel()" aria-hidden="true">
    <strong>&times;</strong>
</button>
<div class="modal-header">
    <div class="h3 n-pm strong">{{operation}} account</div>
</div>

<div class="modal-body">
    <form id="walletAccountForm" name="walletAccountForm" ng-submit="save(walletAccountForm.$valid)" role="form" novalidate>
        <div block-ui="walletAccountBlockUI"></div>
        <div class="form-group row">
            <div class="col-sm-12"
                 ng-class="{ 'has-error': (walletAccountForm.accountName.$invalid) && (walletAccountForm.accountName.$touched || submitted) }">
                <label class="">Name of account</label>
                <input name="accountName" data-ng-model="model.name" class="form-control" type="text" placeholder="MPESA-0712345678 or Fina Bank Account 0890" required />
                <div ng-messages="walletAccountForm.accountName.$error" ng-show="walletAccountForm.accountName.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter account name</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 padding-right-md"
                 ng-class="{ 'has-error': (walletAccountForm.accountType.$invalid) && (walletAccountForm.accountType.$touched || submitted) }">
                <label class="">Type of Account</label>
                <select name="accountType" data-ng-model="model.accountType" class="form-control" required>
                    <option>Mobile Money</option>
                    <option>Bank Account</option>
                </select>
                <div ng-messages="walletAccountForm.accountType.$error" ng-show="walletAccountForm.accountType.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Select account type</div>
                </div>
            </div>
            <div class="col-sm-6"
                 ng-class="{ 'has-error': (walletAccountForm.accountNumber.$invalid) && (walletAccountForm.accountNumber.$touched || submitted) }">
                <label class="">{{model.accountType=='Mobile Money'?'Mobile Number':'Account Number'}}</label>
                <input name="accountNumber" data-ng-model="model.accountNumber" class="form-control" type="text" placeholder="{{model.accountType=='Mobile Money'?'Mobile Number':'Account Number'}}" required />
                <div ng-messages="walletAccountForm.accountNumber.$error" ng-show="walletAccountForm.accountNumber.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter {{model.accountType=='Mobile Money'?'mobile number':'account number'}}</div>
                </div>
            </div>
        </div>
        <div class="form-group row" data-ng-show="model.accountType=='Bank Account'">
            <div class="col-sm-6 padding-right-md"
                 ng-class="{ 'has-error': (walletAccountForm.bankName.$invalid) && (walletAccountForm.bankName.$touched || submitted) }">
                <label class="">Bank Name</label>
                <select name="bankName"
                        data-ng-model="bank"
                        data-ng-options="bank.name for bank in banks | orderBy:'name'"
                        data-ng-change="bankChanged(bank)" class="form-control" ng-required="model.accountType=='Bank Account'"></select>
                <!--<input name="bankName" data-ng-model="model.bankName" class="form-control" type="text" ng-required="model.accountType=='Bank Account'" />-->
                <div ng-messages="walletAccountForm.bankName.$error" ng-show="walletAccountForm.bankName.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter bank name</div>
                </div>
            </div>
            <div class="col-sm-6"
                 ng-class="{ 'has-error': (walletAccountForm.bankBranch.$invalid) && (walletAccountForm.bankBranch.$touched || submitted) }">
                <label class="">Bank Branch</label>
                <select name="bankBranch"
                        data-ng-model="branch"
                        data-ng-options="branch.name for branch in branches | orderBy:'name'"
                        data-ng-change="bankBranchChanged(branch)"
                        class="form-control" ng-required="model.accountType=='Bank Account'"></select>
                <!--<input name="bankBranch" data-ng-model="model.bankBranch" class="form-control" type="text" ng-required="model.accountType=='Bank Account'" />-->
                <div ng-messages="walletAccountForm.bankBranch.$error" ng-show="walletAccountForm.bankBranch.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter bank branch</div>
                </div>
            </div>
        </div>
        <div class="form-group row" data-ng-show="model.accountType=='Mobile Money'">
            <div class="col-sm-6 padding-right-md"
                 ng-class="{ 'has-error': (walletAccountForm.mobileMoneyService.$invalid) && (walletAccountForm.mobileMoneyService.$touched || submitted) }">
                <label class="">Mobile Money Service</label>
                <select name="mobileMoneyService" data-ng-model="model.mobileMoneyService" class="form-control" ng-required="model.accountType=='Mobile Money'">
                    <option>M-Pesa</option>
                    <option>Airtel Money</option>
                </select>
                <div ng-messages="walletAccountForm.mobileMoneyService.$error" ng-show="walletAccountForm.mobileMoneyService.$touched || submitted" style="color:red" role="alert">
                    <div ng-message="required">Enter mobile money service</div>
                </div>
            </div>
        </div>
        <!--<div class="form-group row">
            <div class="col-sm-12">
                <label class="">Notes</label>
                <textarea rows="3"></textarea>
            </div>
        </div>-->
        <div class="form-group row">
            <div class="col-sm-12 text-right">
                <button type="button" data-ng-show="operation=='Edit'" class="btn btn-danger pull-left strong" data-ng-click="delete()">Delete account</button>
                <button type="button" class="btn strong" data-ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success strong" data-ng-click="submitted=true" data-ng-disabled="isSaving">Save details</button>
            </div>
        </div>
    </form>
</div>
