﻿<div role="tabpanel" class="tb-home tab-pane active" id="wallet">
    <!--<div class="title row padding-top-md padding-bottom-md">
        <div class="col-sm-3">
            
        </div>
    </div>-->

    <div class="margin-bottom-md row">
        <div class="col-sm-3 application-filter">
            <div block-ui="sideBarBlockUI">
                <div class="title row padding-top-md padding-bottom-md">
                    <h5 class="strong hidden"></h5>
                    <div class="padding-md bg-white border-light border-radius"><h3 class="strong">{{master.wallet.currency}}. {{master.wallet.balance | currency : ''}}</h3><h6><strong>Amount in your Wallet</strong></h6></div>
                </div>

                <!--<button class="btn btn-primary strong">Bulk disburse to approved loans</button>
        <div class="padding-sm"></div>-->
                <button style="width: 100%" data-ng-click="master.depositToWallet()" class="btn btn-success btn-sm margin-bottom-md"><i class="fa fa-plus"></i> <strong>Fund</strong> wallet</button>
                <button style="width: 100%" data-ng-click="master.withdrawFromWallet()" class="btn btn-danger btn-sm margin-bottom-md"><i class="fa fa-minus"></i> <strong>Withdraw</strong> from wallet</button>
                <button style="width: 100%" data-ng-click="master.transferToOtherWallet()" class="btn btn-primary btn-sm margin-bottom-md"><i class="fa fa-arrows-h"></i> <strong>Transfer</strong> to another wallet</button>
                <div class="divider"></div>
                <div class="padding-sm"></div>
                <!--<a href="#" class=""><i class="fa fa-cog"></i> <strong>Wallet Settings</strong></a>-->
            </div>
        </div>

        <div class="col-sm-9 tab-content">
            <div ui-view></div>
        </div>

    </div>
</div>