﻿<button type="button" class="close" data-dismiss="modal"
        ng-click="cancel()" aria-hidden="true">
    <strong>&times;</strong>
</button>
<div class="modal-header">
    <span class="h3 modal-title n-pm text-left" id="">Your Accounts</span>
</div>

<div class="modal-body">
    <!-- If there are accounts... -->
    <div block-ui="walletAccountsBlockUI"></div>
    <div>
        <div class="alert alert-info text-center" data-ng-hide="accounts.length">
            <i class="fa fa-info-circle"></i>No accounts added
        </div>
        <div class="row" data-ng-show="accounts.length">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>A/C No.</th>
                        <th>Details</th>
                        <th></th>
                    </tr>
                </thead>
                <tr data-ng-repeat="account in accounts">
                    <td>
                        <h6><strong>{{account.name}}</strong></h6>
                        <small>{{account.accountType}}</small>
                    </td>
                    <td>
                        <strong>{{account.accountNumber}}</strong>
                    </td>
                    <td>
                        <h6 data-ng-show="account.accountType==='Bank Account'"><strong>Bank Name:</strong> {{account.bankName}}</h6>
                        <h6 data-ng-show="account.accountType==='Bank Account'"><strong>Bank Branch:</strong> {{account.bankBranch}}</h6>
                        <h6 data-ng-show="account.accountType==='Mobile Money'"><strong>Mobile Money Service:</strong> {{account.mobileMoneyService}}</h6>
                        <small class="text-muted">{{account.notes}}</small>
                    </td>
                    <td><a href="" data-ng-click="upsertAccount(account)" class=""><i class="fa fa-edit"></i></a></td>
                </tr>
            </table>
        </div>
        <div class="text-right">
            <button class="btn btn-primary" data-ng-click="upsertAccount()">Add a new account</button>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
