﻿<div class="tab-pane active" role="tabpanel">
    <div class="col-sm-12">
        <h4 class="margin-bottom-xs strong">Wallet Transactions</h4>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default panel-body">

            <table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="table table-striped">
                <thead class="bg-grey-light">
                    <tr>
                        <th>Date</th>
                        <th>Transaction</th>
                        <th class="text-right">Amount</th>
                        <th class="text-right">Balance</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="transaction in vm.transactions">
                        <td style="width: 100px">{{transaction.transactionDate | date : 'dd MMM yyyy' }}</td>
                        <td>
                            <span data-ng-show="transaction.transactionType=='Withdrawal'"><strong>Paid</strong> to <strong>{{transaction.destination}}</strong><br /></span>
                            <span data-ng-show="transaction.transactionType=='Transfer'"><strong>Transferred</strong> to <strong>{{transaction.destination}}</strong><br /></span>
                            <span data-ng-show="transaction.transactionType=='Deposit'"><strong>Received</strong> from <strong>{{transaction.source}}</strong><br /></span>
                        </td>
                        <td class="text-right">{{transaction.amount | currency : ''}}</td>
                        <td class="text-right">{{transaction.runningBalance | currency : ''}}</td>
                        <td>
                            <span data-ng-show="transaction.transactionStatus=='Pending'" class="label label-warning">{{transaction.transactionStatus}}</span>
                            <span data-ng-show="transaction.transactionStatuss=='Processing'" class="label label-info">{{transaction.transactionStatus}}</span>
                            <span data-ng-show="transaction.transactionStatus=='Completed'" class="label label-success">{{transaction.transactionStatus}}</span>
                            <span data-ng-show="transaction.transactionStatus=='Failed'" class="label label-danger">{{transaction.transactionStatus}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
