﻿<div role="tabpanel" class="tb-products tab-pane active" id="loans">

    <div class="title row padding-top-md padding-bottom-md">
        <div class="col-sm-3">
            <a ui-sref="private.loans.view({status:'All'})" class="btn"><i class="fa fa-arrow-left"></i> &nbsp; Back to loans</a>
        </div>

        <div class="col-sm-9">
            <ul class="list-inline full-width">
                <li><h3 class="padding-top-xs">Loan Details</h3></li>
                <li class="pull-right hidden"><input class="form-control" placeholder="Search by ID or name" /></li>
            </ul>
        </div>
    </div>


    <div class="margin-bottom-md row">
        <div class="col-sm-2 col-sm-offset-1">
            <ul class="nav nav-pills nav-stacked">
                <li ui-sref-active="active">
                    <a ui-sref="private.loanDetails.collections">Transactions</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="private.loanDetails.application">View application</a>
                </li>
                <!--<li ui-sref-active="active">
                    <a ui-sref="private.loanDetails.conversation">Conversation <span class="pull-right badge">2</span> </a>
                </li>-->
            </ul>
        </div>

        <div class="col-sm-9">

            <div class="col-sm-9 tab-content panel panel-default">
                <div block-ui="loanDetailsBlockUI">
                    <div ui-view></div>
                </div>
            </div>

            <div class="col-sm-3 app-actions">
                <ul class="list-unstyled">
                    <li><input type="submit" data-ng-click="master.addPayment()" class="btn btn-success btn-lg" value="Add Payment"/></li>
                </ul>
            </div>
        </div>
    </div>
</div>