﻿<div role="tabpanel" class="tb-loans tab-pane active" id="loans">
    <div class="title row padding-top-md padding-bottom-md">
        <div class="col-sm-9 col-sm-offset-3">
            <ul class="list-inline text-right">
                <li class="pull-left"><h3 class="padding-top-xs">{{loanTitle}}</h3></li>
                <!--<li class=""><input class="form-control" placeholder="Search by ID or name" /></li>-->
                <!--<li class=""><a href="#" class="btn btn-default"><i class="fa fa-calendar"></i> &nbsp; 23 March 2015 - 18 November 2015</a></li>-->
            </ul>
        </div>
    </div>

    <div class="margin-bottom-md row">
        <div class="col-sm-3 application-filter">
            <ul class="nav nav-pills nav-stacked">
                <li ui-sref-active="active">
                    <a ui-sref="private.loans.view({status: 'All'})">All <span class="pull-right">{{master.loansCount}}</span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="private.loans.view({status: 'Not Started'})">Not started <span class="pull-right">{{master.notStartedLoansCount}}</span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="private.loans.view({status: 'Active'})">Collection Ongoing <span class="pull-right">{{master.activeLoansCount}}</span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="private.loans.view({status: 'Completed'})">Collection Completed <span class="pull-right">{{master.completedLoansCount}}</span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="private.loans.view({status: 'Late Payment'})">Late Payment <span class="pull-right">{{master.latePaymentLoansCount}}</span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="private.loans.view({status: 'Defaulted'})">Defaulted <span class="pull-right">{{master.defaultedLoansCount}}</span></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 tab-content">
            <div ui-view></div>
        </div>
    </div>
</div>