﻿<div class="tab-pane active" role="tabpanel" id="loan-collections">

    <!-- Progress -->
    <div class="row padding-top-md padding-bottom-sm">
        <div class="col-sm-3">
            <img src="../../images/img-default.png" class="bg-grey-light full-width border-radius" />
        </div>
        <div class="col-sm-9">
            <h2 class="margin-bottom-sm">{{master.loan.customer.firstName}} {{master.loan.customer.middleName}} {{master.loan.customer.lastName}}</h2>
            <ul class="list-unstyled small">
                <li><strong>Loan ID:</strong> {{master.loan.id}}</li>
                <li>Disbursed loan {{ date | amDifference : master.loan.disbursalDate : 'days'}} days ago</li>
            </ul>
            <div class="padding-top-sm">
                <span><strong>Total repayment amount</strong>: Ksh. {{master.loan.repaymentAmount | number:2}}</span>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" ng-style="{ 'width' : master.loan.percentageComplete + '%' }">
                        <span class="sr-only">{{master.loan.percentageComplete | number}}% Complete</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" ng-style="{ 'width' : master.loan.percentageRemaining + '%' }">
                        <span class="sr-only">100 - {{master.loan.percentageComplete | number}}% Not complete</span>
                    </div>
                </div>
                <ul class="list-inline padding-top-xs small">
                    <li class="text-success"><strong>Paid</strong>: Ksh. {{master.loan.paidAmount | number : 2}}</li>
                    <li class="pull-right text-danger"><strong>Balance</strong>: Ksh. {{master.loan.balance | number : 2}}</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Collections -->
    <div class="row">
        <div class="col-sm-12 margin-top-md">
            <table class="table table-hover">
                <thead class="bg-grey">
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Transaction ID</th>
                        <th>Mode</th>
                        <th class="text-right">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>+</td>
                        <td>{{master.loan.disbursalDate | date : 'dd MMMM yyyy'}}<br /><small>Date disbursed</small></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                            Amount: {{master.loan.amount | number : 2}}<br/>
                            Interest: {{master.loan.interest | number : 2}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="bg-grey-light">Payments</td>
                    </tr>
                    <tr data-ng-repeat="payment in master.loan.loanPayments">
                        <td>1</td>
                        <td>{{payment.date | date : 'dd MMMM yyyy'}}</td>
                        <td>{{payment.id}}</td>
                        <td>{{payment.paymentMethod}}</td>
                        <td class="text-right">{{payment.amount | number : 2}}</td>
                    </tr>
                </tbody>
                <tfoot class="border-top-light border-3px">
                    <tr>
                        <td colspan="3"></td>
                        <td>Total paid</td>
                        <td class="text-right text-success"><strong>Ksh. {{master.loan.paidAmount | number : 2}}</strong></td>
                    </tr>
                    <tr class="h4">
                        <td colspan="3"></td>
                        <td>Balance</td>
                        <td class="text-right text-danger"><strong>Ksh. {{master.loan.balance | number : 2}}</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
