﻿<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <button type="button" class="close" data-ng-click="vm.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Loan Payment</h4>
            <small>
                <ul class="list-inline">
                    <li>for {{vm.loan.customer.firstName}} {{vm.loan.customer.middleName}} {{vm.loan.customer.lastName}}</li>
                    <li>&bull;</li>
                    <li>Loan ID: <a href="">{{vm.loan.id}}</a></li>
                </ul>
            </small>
        </div>
    </div>
    <div class="modal-body">
        <form form id="paymentForm" name="paymentForm" ng-submit="vm.save(paymentForm.$valid)" role="form" class="" novalidate>
            <div block-ui="paymentDetailsBlockUI">
                <div class="row">
                    <div class="form-group"
                         ng-class="{ 'has-error': (paymentForm.amount.$invalid) && (paymentForm.amount.$touched || submitted) }">
                        <label>Amount</label>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Ksh.</span>
                            <input name="amount" data-ng-model="vm.payment.amount" min="1" class="form-control" type="number" required />
                        </div>
                        <div ng-messages="paymentForm.amount.$error" ng-show="paymentForm.amount.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter amount</div>
                            <div ng-message="min">Minimum amount is 1</div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': (paymentForm.date.$invalid) && (paymentForm.date.$touched || submitted) }">
                        <label>Date paid</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input name="date" data-ng-model="vm.payment.date" class="form-control" type="date" required />
                        </div>
                        <div ng-messages="paymentForm.date.$error" ng-show="paymentForm.date.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter date</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Reference</label>
                        <input name="reference" data-ng-model="vm.payment.reference" class="form-control" type="text" />
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': (paymentForm.paymentMethod.$invalid) && (paymentForm.paymentMethod.$touched || submitted) }">
                        <label>Mode</label>
                        <select name="paymentMethod" data-ng-model="vm.payment.paymentMethod" class="form-control" required>
                            <option>M-Pesa</option>
                            <option>Bank Transfer</option>
                            <option>Bank Deposit</option>
                        </select>
                        <div ng-messages="paymentForm.paymentMethod.$error" ng-show="paymentForm.paymentMethod.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Select payment method</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row">
            <button type="button" class="btn btn-default" data-ng-click="vm.cancel()">Close</button>
            <input type="submit" data-ng-click="submitted=true" data-ng-disabled="vm.isProcessing" form="paymentForm" value="Save Payment" class="btn btn-success" />
        </div>
    </div>
</div>
