﻿<div class="tab-pane active" role="tabpanel">
    <div block-ui="loansBlockUI">
        <div class="panel panel-default panel-body">
            <table datatable="ng" class="table table-striped">
                <thead class="bg-grey-light">
                    <tr>
                        <th>Name</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Interest</th>
                        <th class="text-center">Total Repayment</th>
                        <th class="col-sm-3 text-center">Progress</th>
                        
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="loan in vm.loans">
                        <td><a ui-sref="private.loanDetails.collections({loanId:loan.id})">{{loan.customer.firstName}} {{loan.customer.lastName}}</a></td>
                        <td class="text-center">{{loan.amount | number : 2}}</td>
                        <td class="text-center">{{loan.interest | number : 2}}</td>
                        <!--<td style="text-align: center">{{loan.maturityDate | amDifference : loan.disbursalDate : 'months'}}</td>-->
                        <!--<td>
                            {{loan.percentageComplete | number :0}}%
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" ng-style="{ 'width' : loan.percentageComplete + '%' }">
                                </div>
                                <div class="progress-bar progress-bar-danger" ng-style="{ 'width' : loan.percentageRemaining + '%' }">
                                </div>
                            </div>
                        </td>-->
                        <td class="text-center">{{loan.repaymentAmount | number : 2}}</td>
                        <td class="padding-0">
                            <div class="bg-info padding-sm" ng-style="{ 'width' : loan.percentageComplete + '%','height' : '35px', 'max-width': '100%' }">{{loan.percentageComplete | number:0}}%</div>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>