﻿<div class="row padding-top-md">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
        <h2>Thank you</h2>
        <p></p>
        <div class="padding-top-md">
            <a ui-sref="public.landing" class="btn btn-lg brand-primary-btn" data-ng-style="{'background-color': themeSettings.brandPrimary.color, color:themeSettings.brandPrimary.textColor}">Continue to Barclays</a>
            <a ui-sref="public.landing" class="btn btn-lg btn-default">View your loan applications</a>
        </div>
    </div>
</div>
