﻿<section class="application">
    <div class="row application-header brand-primary" data-ng-style="{'background-color': themeSettings.brandPrimary.color, color:themeSettings.brandPrimary.textColor}">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 hidden-xs text-right">
                    <h6>Logo</h6>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <h2 class="padding-bottom-xs">Barclays Lending LLC</h2>
                    <ul class="list-inline small">
                        <li><a href="http://barclays.co.ke" class="margin-left-md"><i class="fa fa-globe"></i> Barclays Bank, Kenya</a></li>
                        <li><a href="phone://0710100100" class="margin-left-md"><i class="fa fa-phone"></i> 0722 000000</a></li>
                        <li><a href="" data-toggle="modal" data-target="#message-lender" class="margin-left-md"><i class="fa fa-envelope"></i> Email us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row application-personal">
        <div class="container">
            <div ui-view></div>
        </div>
    </div>
</section>
<div class="height-xs"></div>


<!-- Contact modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="message-lender">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Talk to us</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label>Your name</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Your phone number</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Your message</label>
                        <textarea class="form-control" rows="5" placeholder="Your message here..."></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Send message</button>
                </div>
            </div>
        </div>
    </div>
</div>
