﻿<form id="applicationForm" name="applicationForm" ng-submit="vm.save(applicationForm.$valid,publish)" role="form" class="" novalidate>
    <div block-ui="applicationFormBlockUI">
        <!-- Personal Details -->
        <div class="row padding-top-lg">
            <div class="col-sm-1 col-sm-offset-1 text-right">
                <i class="fa fa-user"></i>
            </div>
            <div class="col-sm-8 col-xs-12">
                <h4 class="padding-bottom-md">Personal Details <br /><small>All fields are mandatory</small></h4>

                <div class="row form-group padding-top-md">
                    <div class="col-sm-4"
                         ng-class="{ 'has-error': (applicationForm.firstName.$invalid) && (applicationForm.firstName.$touched || submitted) }">
                        <label class="">First Name</label>
                        <input name="firstName" class="form-control" data-ng-model="vm.customer.firstName" type="text" placeholder="First Name" required />
                        <div ng-messages="applicationForm.firstName.$error" ng-show="applicationForm.firstName.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter first name</div>
                        </div>
                    </div>
                    <div class="col-sm-4"
                         ng-class="{ 'has-error': (applicationForm.middleName.$invalid) && (applicationForm.middleName.$touched || submitted) }">
                        <label class="">Middle Name</label>
                        <input name="middleName" class="form-control" data-ng-model="vm.customer.middleName" type="text" placeholder="Middle Name" required />
                        <div ng-messages="applicationForm.middleName.$error" ng-show="applicationForm.middleName.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter middle name</div>
                        </div>
                    </div>
                    <div class="col-sm-4"
                         ng-class="{ 'has-error': (applicationForm.lastName.$invalid) && (applicationForm.lastName.$touched || submitted) }">
                        <label class="">Surname</label>
                        <input name="lastName" class="form-control" data-ng-model="vm.customer.lastName" type="text" placeholder="Surname" required />
                        <div ng-messages="applicationForm.lastName.$error" ng-show="applicationForm.lastName.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter surname</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group padding-top-md">
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.dateOfBirth.$invalid) && (applicationForm.dateOfBirth.$touched || submitted) }">
                        <label class="">Date of Birth</label>
                        <input name="dateOfBirth" data-ng-model="vm.customer.dateOfBirth" class="form-control" type="date" placeholder="dd/mm/yyyy" required />
                        <div ng-messages="applicationForm.dateOfBirth.$error" ng-show="applicationForm.dateOfBirth.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter date of birth</div>
                            <div ng-message="date">Enter valid date</div>
                        </div>
                    </div>
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.gender.$invalid) && (applicationForm.gender.$touched || submitted) }">
                        <label class="">Gender</label>
                        <select name="gender" data-ng-model="vm.customer.gender" class="form-control" required>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                        <div ng-messages="applicationForm.gender.$error" ng-show="applicationForm.gender.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Select gender</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.idNo.$invalid) && (applicationForm.idNo.$touched || submitted) }">
                        <label class="">Id No</label>
                        <input name="idNo" class="form-control" data-ng-model="vm.customer.idNo" type="text" placeholder="Id No" required/>
                        <div ng-messages="applicationForm.idNo.$error" ng-show="applicationForm.idNo.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter id no</div>
                        </div>
                    </div>
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.email.$invalid) && (applicationForm.email.$touched || submitted) }">
                        <label class="">Email</label>
                        <input name="email" class="form-control" data-ng-model="vm.customer.email" type="email" placeholder="Email" required />
                        <div ng-messages="applicationForm.email.$error" ng-show="applicationForm.email.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter email</div>
                            <div ng-message="email">Enter valid email</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.phoneNumber.$invalid) && (applicationForm.phoneNumber.$touched || submitted) }">
                        <label class="">Phone Number</label>
                        <input name="phoneNumber" data-ng-model="vm.customer.phoneNumber" class="form-control" type="text" placeholder="Phone Number" required />
                        <div ng-messages="applicationForm.phoneNumber.$error" ng-show="applicationForm.phoneNumber.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter phone number</div>
                        </div>
                    </div>
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.postalAddress.$invalid) && (applicationForm.postalAddress.$touched || submitted) }">
                        <label class="">Postal Address</label>
                        <input name="postalAddress" data-ng-model="vm.customer.postalAddress" class="form-control" type="text" placeholder="Postal Address" required />
                        <div ng-messages="applicationForm.postalAddress.$error" ng-show="applicationForm.postalAddress.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter postal address</div>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': (applicationForm.physicalAddress.$invalid) && (applicationForm.physicalAddress.$touched || submitted) }">
                    <label class="">Physical Address</label>
                    <textarea name="physicalAddress" data-ng-model="vm.customer.physicalAddress" rows="2" class="form-control" required></textarea>
                    <div ng-messages="applicationForm.physicalAddress.$error" ng-show="applicationForm.physicalAddress.$touched || submitted" style="color:red" role="alert">
                        <div ng-message="required">Enter physical address</div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.city.$invalid) && (applicationForm.city.$touched || submitted) }">
                        <label class="">City</label>
                        <input name="city" class="form-control" data-ng-model="vm.customer.city" type="text" placeholder="City" required/>
                        <div ng-messages="applicationForm.city.$error" ng-show="applicationForm.city.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter city</div>
                        </div>
                    </div>
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.county.$invalid) && (applicationForm.county.$touched || submitted) }">
                        <label class="">County</label>
                        <select name="county" data-ng-model="vm.customer.county" class="form-control" required>
                            <option>Nairobi</option>
                            <option>Mombasa</option>
                        </select>
                        <div ng-messages="applicationForm.county.$error" ng-show="applicationForm.county.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Select county</div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- Financial Details -->
        <div class="row padding-top-lg">
            <div class="col-sm-1 col-sm-offset-1 text-right">
                <i class="fa fa-money"></i>
            </div>
            <div class="col-sm-8 col-xs-12">
                <h4 class="padding-bottom-md">Financial Details <br /><small>All fields are mandatory</small></h4>

                <div class="row form-group padding-top-md">
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.employmentStatus.$invalid) && (applicationForm.employmentStatus.$touched || submitted) }">
                        <label class="">Employment</label>
                        <select name="employmentStatus" data-ng-model="vm.customer.employmentStatus" class="form-control" required>
                            <option>Employed</option>
                            <option>Self employed</option>
                            <option>Not employed</option>
                        </select>
                        <div ng-messages="applicationForm.employmentStatus.$error" ng-show="applicationForm.employmentStatus.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter employment status</div>
                        </div>
                    </div>
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.employmentStartDate.$invalid) && (applicationForm.employmentStartDate.$touched || submitted) }">
                        <label class="">Date Started</label>
                        <input name="employmentStartDate" data-ng-model="vm.customer.employmentStartDate" class="form-control" type="date" />
                        <div ng-messages="applicationForm.employmentStartDate.$error" ng-show="applicationForm.employmentStartDate.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="date">Enter valid date</div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-12"
                         ng-class="{ 'has-error': (applicationForm.companyName.$invalid) && (applicationForm.companyName.$touched || submitted) }">
                        <label class="">Company Name</label>
                        <input name="companyName" class="form-control" data-ng-model="vm.customer.companyName" type="text" placeholder="" required/>
                        <div ng-messages="applicationForm.companyName.$error" ng-show="applicationForm.companyName.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter company name</div>
                        </div>
                    </div>
                </div>

                <!-- If Employed -->
                <div class="row form-group">
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.grossMonthlySalary.$invalid) && (applicationForm.grossMonthlySalary.$touched || submitted) }">
                        <label class="">Gross monthly salary</label>
                        <input name="grossMonthlySalary" class="form-control" data-ng-model="vm.customer.grossMonthlySalary" type="number" placeholder="" min="0" required />
                        <div ng-messages="applicationForm.grossMonthlySalary.$error" ng-show="applicationForm.grossMonthlySalary.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter gross monthly salary</div>
                            <div ng-message="min">Minimum value is 0</div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <!-- If Self Employed -->
                <div class="row form-group">
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.companyLegalstatus.$invalid) && (applicationForm.companyLegalstatus.$touched || submitted) }">
                        <label class="">Legal Status</label>
                        <select name="companyLegalstatus" data-ng-model="vm.customer.companyLegalstatus" class="form-control">
                            <option>Sole Proprietorship</option>
                            <option>Partnership</option>
                            <option>Limited Liability Company</option>
                            <option>Public Liability Company</option>
                            <option>NGO</option>
                            <option selected>Not registered</option>
                        </select>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6"
                             ng-class="{ 'has-error': (applicationForm.businessIncome.$invalid) && (applicationForm.businessIncome.$touched || submitted) }">
                            <label class="">Business income</label>
                            <input name="businessIncome" class="form-control" data-ng-model="vm.customer.businessIncome" type="number" placeholder="" min="0" />
                            <div ng-messages="applicationForm.businessIncome.$error" ng-show="applicationForm.businessIncome.$touched || submitted" style="color:red" role="alert">
                                <div ng-message="min">Minimum value is 0</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <!-- If Self Employed -->
                <div class="row form-group">
                    <div class="col-sm-12"
                         ng-class="{ 'has-error': (applicationForm.otherBusinessMonthlyIncome.$invalid) && (applicationForm.otherBusinessMonthlyIncome.$touched || submitted) }">
                        <label class=""><input name="otherBusiness" type="checkbox" class="" data-ng-model="vm.customer.otherBusiness"> Other business? If yes, Indicate their total monthly business income</label>
                        <input name="otherBusinessMonthlyIncome" class="form-control" data-ng-model="vm.customer.otherBusinessMonthlyIncome" type="number" placeholder="Total monthly income" min="0" />
                        <div ng-messages="applicationForm.otherBusinessMonthlyIncome.$error" ng-show="applicationForm.otherBusinessMonthlyIncome.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="min">Minimum value is 0</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- Documents Details -->
        <div class="row padding-top-lg">
            <div class="col-sm-1 col-sm-offset-1 text-right">
                <i class="fa fa-file"></i>
            </div>
            <div class="col-sm-8 col-xs-12">
                <h4 class="padding-bottom-md">Documents <br /><small>Please submit all documets required. Only PDF and DOC document types are preferred.</small></h4>

                <div class="form-group padding-top-md">
                    <div class="input-group margin-bottom-md">
                        <span class="input-group-btn">
                            <label for="nationalID" class="btn btn-default">Upload national ID</label>
                        </span>
                        <input type="file" name="nationalID" id="nationalID" class="hidden" />
                        <input class="form-control" value="" placeholder="National ID" disabled="" />
                    </div>

                    <!-- Use this template for any other file input -->
                    <div class="input-group margin-bottom-md">
                        <span class="input-group-btn">
                            <label for="nationalID" class="btn btn-default">Upload passport</label>
                        </span>
                        <input type="file" name="passport" id="passport" class="hidden" />
                        <input class="form-control" value="" placeholder="Passort file" disabled />
                    </div>


                </div>


            </div>
        </div>

        <!-- Loan Details -->
        <div class="row padding-top-md">
            <div class="col-sm-1 col-sm-offset-1 text-right">
                <i class="fa fa-money"></i>
            </div>
            <div class="col-sm-8 col-xs-12">
                <h4 class="padding-bottom-md">Loan details</h4>
                
                <div class="row form-group padding-top-md">
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.productId.$invalid) && (applicationForm.productId.$touched || submitted) }">
                        <label class="">Loan</label>
                        <select name="productId" data-ng-model="vm.application.productId" data-ng-change="vm.selectedProductChange()" class="form-control" required>
                            <option data-ng-repeat="product in vm.products"
                                    value="{{product.id}}">
                                {{product.name}}
                            </option>
                        </select>
                        <div ng-messages="applicationForm.productId.$error" ng-show="applicationForm.productId.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Select loan</div>
                        </div>
                    </div>
                    <div class="col-sm-6"
                         ng-class="{ 'has-error': (applicationForm.amount.$invalid) && (applicationForm.amount.$touched || submitted) }">
                        <label class="">Amount</label>
                        <input name="amount" data-ng-model="vm.application.amount" class="form-control" type="number" min="1" required />
                        <div ng-messages="applicationForm.amount.$error" ng-show="applicationForm.amount.$touched || submitted" style="color:red" role="alert">
                            <div ng-message="required">Enter loan amount</div>
                            <div ng-message="min">Minimum value is 1</div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="row form-group-lg padding-top-md">
                    <div class="col-sm-6">
                        <label>Loan amount</label>
                        <h4>Ksh. {{vm.application.amount | number : 2}}</h4>
                    </div>
                    <div class="col-sm-6">
                        <label>Loan product</label>
                        <h4>{{vm.product.name}}</h4>
                    </div>
                </div>

                <div class="row form-group padding-top-md">
                    <div class="col-sm-6">
                        <label>Interest rate</label>
                        <p>{{vm.product.interestRate}}% {{vm.product.interestPeriod}}</p>
                    </div>
                    <!--<div class="col-sm-6">
                        <label>Installments</label>
                        <p><strong>Ksh. 8,000</strong> monthly for <strong>3</strong> months</p>
                    </div>-->
                </div>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <li ng-repeat="fee in vm.product.productFees"><strong>{{fee.name}}</strong> - Ksh. {{fee.amount | number : 2}}</li>
                        </ul>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <small>Total Fees</small>
                        <h4>Ksh. {{vm.totalFees | number : 2}}</h4>
                        <!--<p class="padding-top-sm"><input type="checkbox" /> Include fees in loan</p>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- Terms of Loan -->
        <div class="row padding-top-lg">
            <div class="col-sm-1 col-sm-offset-1 text-right">
                <i class="fa fa-legal"></i>
            </div>
            <div class="col-sm-8 col-xs-12">
                <h4 class="padding-bottom-md">Terms</h4>
                <p class="padding-bottom-lg">
                    By filling the form and uploading the documents, you agree to the <a href="#">terms of service</a>, <a href="#">loan requirements</a> and the <a href="#">privacy policy</a> provided via the links.
                </p>
                <p class="padding-bottom-md"><input type="checkbox" /> I agree to the terms and policies as indicated.</p>
                <div class="padding-top-md text-right">
                    <!--<a href="#" class="btn btn-default margin-top-sm margin-right-md">Save as draft</a>-->
                    <!--<a href="application-thankyou.html" class="btn btn-lg brand-primary-btn">Apply for loan</a>-->
                    <input type="submit" data-ng-disabled="vm.isSaving" data-ng-click="submitted=true" class="btn btn-lg brand-primary-btn" data-ng-style="{'background-color': themeSettings.brandPrimary.color, color:themeSettings.brandPrimary.textColor}" value="Apply for loan" />
                    
                </div>
            </div>
        </div>
    </div>
</form>
