﻿<div role="tabpanel" class="tb-applications tab-pane active" id="applications">
        <div class="title row padding-top-md padding-bottom-md">
            <div class="col-sm-9 col-sm-offset-3">
                <ul class="list-inline text-right">
                    <li class="pull-left"><h3 class="padding-top-xs">{{applicationTitle}}</h3></li>
                    <!--<li class=""><input class="form-control" placeholder="Search by ID or name" /></li>-->
                    <!--<li class=""><a href="#" class="btn btn-default"><i class="fa fa-calendar"></i> &nbsp; 23 March 2015 - 18 November 2015</a></li>-->
                </ul>
            </div>
        </div>

        <div class="margin-bottom-md row">
            <div class="col-sm-3 application-filter">
                <ul class="nav nav-pills nav-stacked">
                    <li ui-sref-active="active">
                        <a ui-sref="private.applications.view({status: 'All'})">All <span class="pull-right">{{master.applicationsCount}}</span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="private.applications.view({status: 'Pending'})">Pending <span class="pull-right">{{master.pendingApplicationsCount}}</span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="private.applications.view({status: 'Approved'})">Approved <span class="pull-right">{{master.approvedApplicationsCount}}</span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="private.applications.view({status: 'Disbursed'})">Disbursed <span class="pull-right">{{master.disbursedApplicationsCount}}</span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="private.applications.view({status: 'Rejected'})">Rejected <span class="pull-right">{{master.rejectedApplicationsCount}}</span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="private.applications.view({status: 'Cancelled By User'})">Cancelled By User <span class="pull-right">{{master.cancelledApplicationsCount}}</span></a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-9 tab-content">
                <div ui-view></div>
            </div>
        </div>
    </div>

