﻿<div class="row panel panel-default tab-pane fade in active" role="tabpanel" id="application-documents">
    <div class="panel-heading">
        <h3>Documents <span class="pull-right label label-default">{{master.application.documents.length}}</span> </h3>
    </div>
    <div class="panel-body" data-ng-show="!master.application.documents.length>0">
        <div class="col-sm-8 col-sm-offset-2 padding-xl text-center text-muted">
            <i class="fa fa-3x fa-file-o margin-bottom-sm"></i>
            <h3>No documents here</h3>
            <p>You can request the applicant to the upload documents required.</p>
            <a href="" class="btn btn-primary margin-top-lg" data-toggle="modal" data-target="#request-info">Request for documents</a>
        </div>
    </div>
    <div class="panel-body" data-ng-show="master.application.documents.length>0">
        <div class="row" data-ng-repeat="document in master.application.documents">
            <div class="col-sm-2 text-center">
                <div class="bg-grey-light padding-md">
                    <h2 data-ng-show="document.extension=='.pdf'"><i class="fa fa-file-pdf-o"></i></h2>
                    <h2 data-ng-show="document.extension=='.doc' || document.extension=='.docx'"><i class="fa fa-file-word-o"></i></h2>
                </div>
            </div>
            <div class="col-sm-9">
                <h4><a href="{{vm.blobUrl + document.imageName}}">{{document.documentType}}</a></h4>
                <ul class="list-unstyled">
                    <li><strong>Uploaded:</strong> {{document.uploadDate | date : 'dd MMMM yyyy'}}</li>
                    <li class="margin-top-sm"><a href="{{vm.blobUrl + document.imageName}}" target="_blank"><i class="fa fa-download"></i> Download</a></li>
                </ul>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>