﻿<div role="tabpanel" class="tb-products tab-pane active" id="products">

    <div class="title row padding-top-md padding-bottom-md">
        <div class="col-sm-3">
            <a ui-sref="private.applications.view({status:'All'})" class="btn"><i class="fa fa-arrow-left"></i> Back to applications</a>
        </div>

        <div class="col-sm-9">
            <ul class="list-inline full-width">
                <li><h3 class="padding-top-xs">Application Details</h3></li>
                <li class="col-sm-5 hidden"><input class="form-control" placeholder="Search by ID or name" /></li>
            </ul>
        </div>
    </div>


    <div class="margin-bottom-md row">
        <div class="col-sm-2 col-sm-offset-1">
            <ul class="nav nav-pills nav-stacked">
                <li ui-sref-active="active">
                    <a ui-sref="private.applicationDetails.application">Application</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="private.applicationDetails.appraisalReport">Appraisal Report</a>
                </li>
                <!--<li ui-sref-active="active">
                    <a ui-sref="private.applicationDetails.documents">Documents</a>
                </li>-->
                <!--<li ui-sref-active="active">
                    <a ui-sref="private.applicationDetails.conversation">Conversation</a>
                </li>-->
            </ul>
        </div>

        <div class="col-sm-9">

            <div class="col-sm-9 tab-content panel panel-default">
                <div block-ui="applicationDetailsBlockUI">
                    <div ui-view></div>
                </div>
            </div>

            <div class="col-sm-3 app-actions">
                <ul class="list-unstyled">
                    <li data-ng-show="master.application.status=='Approved'"><span class="text-success"><i class="fa fa-check"></i> Approved</span></li>
                    <li data-ng-show="master.application.status=='Approved'"><input type="submit" data-ng-click="master.disburseApplication()" class="btn btn-success btn-lg" value="Disburse" data-ng-disabled="master.isProcessing==true" /></li>
                    <li data-ng-show="master.application.status=='Pending'"><input type="submit" data-ng-click="master.approveApplication()" class="btn btn-success btn-lg" value="Approve" data-ng-disabled="master.isProcessing==true" /></li>
                    <li data-ng-show="master.application.status=='Pending'"><input type="submit" data-ng-click="master.denyApplication()" class="btn btn-danger btn-sm" value="Deny" /></li>

                    <li class="divider"></li>
                    <li data-ng-show="master.application.status=='Approved'"><input type="submit" data-ng-click="master.unapproveApplication()" class="btn btn-default btn-sm" value="Unapprove application" data-ng-disabled="master.isProcessing==true" /></li>
                    <!--<li><a href="" class="btn btn-default btn-sm">Request information</a></li>
                    <li><a href="" class="btn btn-default btn-sm">Print application</a></li>-->
                </ul>
            </div>
        </div>
    </div>

</div>
