﻿<div class="tab-pane active" role="tabpanel" id="application">

    <!-- Applicants details -->
    <div class="row padding-top-md padding-bottom-sm">
        <div class="col-sm-3">
            <img src="../../images/img-default.png" class="bg-grey-light full-width border-radius" />
        </div>
        <div class="col-sm-9">
            <h2 class="margin-bottom-sm">{{master.application.customer.firstName}} {{master.application.customer.middleName}} {{master.application.customer.lastName}}</h2>
            <ul class="list-unstyled">
                <li data-ng-show="master.application.status=='Pending'" class="margin-bottom-sm"><span class="label label-warning">{{master.application.status}}</span></li>
                <li data-ng-show="master.application.status=='Approved'" class="margin-bottom-sm"><span class="label label-success">{{master.application.status}}</span> <span class="label label-default">Not yet disbursed</span></li>
                <li data-ng-show="master.application.status=='Rejected'" class="margin-bottom-sm"><span class="label label-danger">{{master.application.status}}</span></li>
                <li data-ng-show="master.application.status=='Disbursed'" class="margin-bottom-sm"><span class="label label-info">{{master.application.status}}</span></li>
                <li>Application ID: {{master.application.id}}</li>
                <li>Applied <strong>{{ date | amDifference : master.application.applicationDate : 'days'}} days ago</strong></li>
                <li data-ng-show="master.application.status=='Pending'">Qualified</li>
            </ul>
        </div>
    </div>

    <div class="row border-top-lighter">

        <div class="col-sm-4 border-right-lighter">
            <div class="padding-bottom-md">
                <div class="row bg-grey-light border-bottom-lighter padding-md margin-bottom-sm">
                    <h4 class="strong">Loan Details</h4>
                </div>
                <ul class="list-unstyled">
                    <li><h4>Ksh. {{master.application.amount | number:2}}</h4></li>
                    <li>{{master.application.product.name}}</li>
                </ul>
            </div>

            <div class="padding-bottom-md">
                <div class="row bg-grey-light border-bottom-lighter padding-md margin-bottom-md">
                    <h4 class="strong">Repayment</h4>
                </div>
                <ul class="list-unstyled">
                    <li class=""><strong>Interest rate</strong>: {{master.application.product.interestRate}}%</li>
                    <li class="divider"></li>
                    <li class=""><strong>Period</strong>: {{master.application.repaymentPeriod}} months</li>
                    <li class="">
                        <strong>Monthly installments</strong>: <br />
                        Ksh. {{master.application.amortizationSchedule[0].repayment | number : 2}}
                    </li>

                    <li class="divider"></li>
                    <li><strong>Fees:</strong> Ksh. 0</li>
                    <li class="divider"></li>
                    <li><h4>Ksh, {{master.application.totalRepayment | number : 2}}</h4><small>Total repayment</small></li>
                </ul>

            </div>
        </div>

        <div class="col-sm-8 padding-bottom-md">
            <div class="row bg-grey-light border-bottom-lighter padding-md margin-bottom-sm">
                <h4 class="strong">Personal Details</h4>
            </div>
            <ul class="list-unstyled">
                <li><strong>Age</strong>: {{master.application.customer.age}}</li>
                <li><strong>Level of education</strong>: {{master.application.customer.educationLevel}}</li>
                <li><strong>Marital Status</strong>: {{master.application.customer.maritalStatus}}</li>
                <li><strong>Gender</strong>: {{master.application.customer.gender}}</li>
                <li class="divider"></li>
                <li><strong>Email</strong>: {{master.application.customer.email}}</li>
                <li><strong>Phone</strong>: {{master.application.customer.phoneNumber}}</li>
                <li><strong>Postal Address</strong>: {{master.application.customer.postalAddress}}</li>
                <li><strong>Physical location</strong>: {{master.application.customer.physicalAddress}}</li>
                <li><strong>City</strong>: {{master.application.customer.city}}</li>
                <li><strong>County</strong>: {{master.application.customer.county}}</li>
                <li class="divider"></li>
                <li><strong>Employment</strong>: {{master.application.customer.employmentStatus}}</li>
                <li><strong>Gross Salary</strong>: Ksh. {{master.application.customer.grossMonthlySalary | number:2}}</li>
                <li class="divider"></li>
                <li><strong>Business Monthly Income</strong>: Ksh. {{master.application.customer.businessIncome | number:2}}</li>
                <li><strong>Legal Status</strong>: {{master.application.customer.companyLegalstatus}}</li>
            </ul>
        </div>
    </div>
</div>
