﻿<div class="row panel panel-default tab-pane fade in active" role="tabpanel" id="application-appraisal">
    <div class="panel-heading">
        <h3>Appraisal Report</h3>
    </div>

    <div class="panel-body padding-top-0 padding-bottom-0">
        <div class="row">
            <div class="col-sm-8 padding-top-md">
                <h4 class="strong">Analysis</h4>
                <div class="divider"></div>
                <p>The customer qualified for the loan based on the following information.</p>
            </div>

            <div class="col-sm-4 code margin-top-md">
                <ul class="code-strip text-justify">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="code-box code-a2 padding-md text-center">
                    <h3 class="padding-bottom-sm">{{master.application.crbScore}}</h3>
                    <h5>CRB score</h5>
                </div>
            </div>
        </div>

        <div class="margin-md"></div>

        <div class="row">
            <div class="col-sm-12 margin-top-md padding-top-sm border-top-light border-bottom-light">
                <table class="table table-responsive">
                    <thead class="bg-grey-light">
                        <tr>
                            <th class="h4 strong">Appraisal Summary</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Loan amount applied for</strong></td>
                            <td class="text-right">{{master.application.amount | currency : ''}}</td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Maximum qualification amount</strong></td>
                            <td class="text-right">{{master.application.maximumQualificationAmount | currency: ''}}</td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Approved loan amount</strong></td>
                            <td class="text-right">{{master.application.amount | currency :''}}</td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Approval basis</strong></td>
                            <td class="text-right">{{master.application.approvalBasis}}</td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-responsive">
                    <thead class="bg-grey-light">
                        <tr>
                            <th class="h4 strong">Appraisal Report</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Invoice Transactions</strong></td>
                            <td class="text-right">{{master.application.invoiceTransactionsCount}}</td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Number of verified & trusted invoices</strong></td>
                            <td class="text-right">{{master.application.verifiedTrustedInvoiceCount}}</td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Amount of total outstanding trusted & verified invoices</strong></td>
                            <td class="text-right">{{master.application.totalOutstandingTrustedVerifiedInvoices | currency: ''}}</td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Amount of total outstanding invoices</strong></td>
                            <td class="text-right">{{master.application.totalOutstandingInvoices | currency: ''}}</td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-responsive">
                    <thead class="bg-grey-light">
                        <tr>
                            <th class="h4 strong">Imported Transactions</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Number of months imported</strong></td>
                            <td class="text-right">{{master.application.numberOfMonthsForImportedTransactions}}</td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Average amount of inflows per month</strong></td>
                            <td class="text-right">{{master.application.averageNumberOfInflowsPerMonth | number : 2}}</td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Average net inflows</strong></td>
                            <td class="text-right">{{master.application.averageNetInflows}}</td>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!--<div class="row margin-top-md">
            <div class="col-sm-6">
                <div class="row padding-md bg-grey-light border-top-light border-bottom-light">
                    <h4 class="strong">Financial Details</h4>
                </div>

                <div class="padding-top-md ">
                    <ul class="list-unstyled">
                        <li><strong>Profit / Loss:</strong> Ksh. 34,000</li>
                        <li><strong>Revenue / Income:</strong> Ksh. 34,000</li>
                    </ul>

                    <div class="row height-md margin-top-md margin-bottom-sm">
                        <canvas id="chart-finDetails" class="height-full full-width bg-grey-light"></canvas>
                    </div>
                    <em>Average Usage (bar chart)</em>
                </div>
            </div>
            <div class="col-sm-6 border-left-light">
                <div class="row padding-md bg-grey-light border-top-light border-bottom-light">
                    <h4 class="strong">System Usage</h4>
                </div>

                <div class="padding-top-md padding-bottom-md">
                    <ul class="list-unstyled">
                        <li><strong>Number of Transactions:</strong> 23</li>
                        <li><strong>Net Amount:</strong> Ksh. 34,000</li>
                    </ul>

                    <div class="row height-xs margin-top-md margin-bottom-sm">
                        <canvas id="avg-usage" class="height-full full-width bg-grey-light"></canvas>
                    </div>
                    <em>Average Usage (area/line chart)</em>

                    <div class="row height-xs margin-top-md margin-bottom-sm">
                        <canvas id="avg-transactions" class="height-full full-width bg-grey-light"></canvas>
                    </div>
                    <em>Average Transaction Amount (area/line chart)</em>
                </div>
            </div>
        </div>-->
    </div>

    <!--<div class="panel-footer">
        <button class="btn btn-primary"><i class="fa fa-download"></i> P&L Report</button>
        <button class="btn btn-primary"><i class="fa fa-download"></i> Account Report</button>
        <button class="btn btn-primary"><i class="fa fa-download"></i> Balance Sheet Report</button>
    </div>-->
</div>