﻿<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <button type="button" class="close" data-ng-click="vm.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Disburse confirmation</h4>
        </div>
    </div>
    <div class="row modal-body">
        <div block-ui="disbursalDetailsBlockUI">
            <div class="row">
                <div class="col-sm-3">
                    <img src="../../images/img-default.png" class="bg-grey-light full-width border-radius" />
                </div>
                <div class="col-sm-9">
                    <ul class="list-unstyled">
                        <li><h3>{{vm.application.customer.firstName}} {{vm.application.customer.middleName}} {{vm.application.customer.lastName}}</h3></li>
                        <li></li>
                        <li><strong>ID/Passport</strong>: {{vm.application.customer.idNo}}</li>
                        <li><strong>Caytree Wallet</strong>: {{vm.application.customer.caytreeWalletPhoneNumber}}</li>
                        <li class="divider"></li>
                        <li><strong>Application ID</strong>: {{vm.application.id}}</li>
                        <li><strong>Application Date</strong>: {{vm.application.applicationDate | date : 'dd MMMM yyyy'}}</li>
                        <li class="divider"></li>
                        <li><h4>Loan amount: Ksh. {{vm.application.amount | number :2}}</h4></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <ul class="list-inline">
                <li><button type="button" class="btn btn-default" data-ng-click="vm.cancel()">Close</button></li>
                <li>
                    <ul class="list-unstyled">
                        <li class="margin-bottom-sm"><input type="submit" data-ng-disabled="vm.isProcessing" class="btn btn-success" data-ng-click="vm.save()" value="Disburse Amount"/></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</div>