﻿<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <button type="button" class="close" data-ng-click="vm.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Reason for deny</h4>
            <small>Check appropriate reasons.</small>
        </div>
    </div>
    <div class="modal-body">
        <div block-ui="rejectionDetailsBlockUI">
            <div class="row">
                <div class="form-group">
                    <ul class="list-inline">
                        <li>
                            <div class="checkbox">
                                <label><input name="incompleteApplication" data-ng-model="vm.applicationDenial.applicationIncomplete" type="checkbox" /> Application was not fully completed</label>
                            </div>
                            <div class="checkbox">
                                <label><input name="invalidLoanAmount" data-ng-model="vm.applicationDenial.loanAmountNotQualified" type="checkbox" /> Loan amount did not fulfill the qualification range</label>
                            </div>
                            <div class="checkbox">
                                <label><input name="incompleteDocuments" data-ng-model="vm.applicationDenial.incompleteDocuments" type="checkbox" /> Not all documents were submitted</label>
                            </div>
                        </li>
                        <li class="margin-top-md full-width">
                            <label>Other reasons</label>
                            <textarea name="otherReasons" data-ng-model="vm.applicationDenial.otherReasons" class="form-control" rows="5" placeholder="What is the reason for denying the application?"></textarea>
                        </li>
                        <li class="full-width margin-top-lg">
                            <label>Recommendation</label>
                            <textarea name="recommendations" data-ng-model="vm.applicationDenial.recommendations" class="form-control" rows="5" placeholder="What should the applicant do next?"></textarea>
                        </li>
                        <li class="margin-top-md"><small>Please note that this information will be sent to the applicant. You can engage the applicant in the 'Conversation' section.</small></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <button type="button" class="btn btn-default" data-ng-click="vm.cancel()">Close</button>
            <input type="submit" data-ng-click="vm.save()" data-ng-disabled="vm.isProcessing" class="btn btn-danger" value="Save" />
        </div>
    </div>
</div>