﻿<div class="tab-pane active" role="tabpanel">
    <div block-ui="applicationsBlockUI">
        <div class="panel panel-default panel-body">
            <table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="table table-striped">
                <thead class="bg-grey-light">
                    <tr>
                        <th>Name</th>
                        <th style="text-align: center">Application ID</th>
                        <th style="text-align: center">Date Applied</th>
                        <th>Repay Period</th>
                        <th>Status</th>
                        <th class="text-right">Amount</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="application in vm.applications">
                        <td><a ui-sref="private.applicationDetails.application({applicationId:application.id})">{{application.customer.firstName}} {{application.customer.lastName}}</a></td>
                        <td style="text-align: center">{{application.id}}</td>
                        <td style="text-align: center">{{application.applicationDate | date : 'dd MMM yyyy'}}</td>
                        <td>{{application.repaymentPeriod}} months</td>
                        <td>
                            <span data-ng-show="application.status=='Pending'" class="label label-warning">{{application.status}}</span>
                            <span data-ng-show="application.status=='Disbursed'" class="label label-info">{{application.status}}</span>
                            <span data-ng-show="application.status=='Approved'" class="label label-success">{{application.status}}</span>
                            <span data-ng-show="application.status=='Rejected'" class="label label-danger">{{application.status}}</span>
                            <span data-ng-show="application.status=='Cancelled By User'" class="label label-danger">{{application.status}}</span>
                        </td>
                        <td class="text-right">Ksh. {{application.amount | number : 2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
