﻿<div class="row text-white">
    <div class="main-bg"><div class="img-bg"></div></div>
    <section class="container padding-top-md padding-bottom-md">
        <div class="col-md-6 padding-top-xs">
            <a ui-sref="public.landing" class="hidden h3 no-pad link-homepage text-white">Fenera</a>
        </div>
        <div class="col-md-6 text-right">
            <a ui-sref="public.login" class="h4 text-white text-underline-white link-log-in-header">Log in</a>
        </div>
    </section>
    <section class="container">
        <div class="col-sm-6">
            <div class="height-sm"></div>
            <h1>Fenera</h1>
            <h3><em>Discover a better way to lend</em></h3>
            <p class="lead margin-bottom-xl margin-top-lg">Fenera connects savvy lenders to responsible borrowers.</p>
            <p class="lead margin-bottom-xl margin-top-lg">We allow lenders to reach a large group of borrowers by providing them the tools they need to efficiently assess risk and make informed decisions quickly.</p>
            <p class="lead margin-bottom-xl margin-top-lg">Ready to learn more?</p>

            <!--<a ui-sref="public.signUp" class="btn btn-lg btn-primary strong btn-sign-up">Sign-up</a>-->
            <a ui-sref="public.requestInvite" class="btn btn-lg btn-success strong btn-request-invite">Request invite</a>

            <div class="height-sm"></div>
        </div>
    </section>
</div>
